@charset "utf-8";
/* 海岛奇兵 2015/03/19 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{ margin:0; padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif}
img{border:none; max-width:100%}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

body{ background:#fff3dc}
a{ text-decoration:none}
.header{ height:50px; background:#43b9de; border-bottom:1px solid #2a94b1; overflow:hidden; position:relative}
.header .wblogo,.header .wblogo_index{ position:absolute; left:5px; top:0; height:50px; line-height:50px; padding-left:90px; background:url(../images/wblogo.png) no-repeat; background-size:contain; color:#fff}
.header .wblogo_index{ background-position:-24px 0; padding-left:66px}
.lookmore{ font-size:1.6em; color:#8f8f8f; text-align:center; padding:15px 0; display:block}
/*列表页*/
.datalist_nav ul{ display:table; width:100%; table-layout:fixed}
.datalist_nav li{ display:table-cell; color:#333; font-size:1.6em; padding:8px 0; text-align:center; border-bottom:1px solid #d3d3d3}
.datalist_nav li.on{ color:#fbbc0e; border-bottom:2px solid #fbbc0e; padding-bottom:7px}
.datalist ul li{ display:none}
.datalist ul li.on{ display:block}
.datalist li a{ border-bottom:1px solid #d3d3d3; display:table; width:100%; padding:10px; box-sizing:border-box}
.datalist li .img{ width:18%; display:table-cell; text-align:center; padding:10px 15px 10px 5px; box-sizing:border-box}
.datalist li .note{ display:table-cell; vertical-align:middle; color:#333}
.datalist li .note h2{ font-size:1.8em}
.datalist li .note p{ font-size:1.4em; color:#666}
.datalist li .look{ display:table-cell; width:10%; vertical-align:middle}
.datalist li .look .icon{ width:13px; height:13px; display:inline-block; border-width:0 1px 1px 0; border-color:#8f8f8f; border-style:solid; -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
/*详情页*/
.datadetail .summary{overflow:hidden; padding:10px 10px 15px}
.datadetail .summary .l{ float:left; width:25%; padding:0 13px; box-sizing:border-box; text-align:center}
.datadetail .summary .r{ float:left; width:75%;}
.datadetail .summary h2{ font-size:1.8em; margin-bottom:3px; font-weight:bold; color:#333}
.datadetail .summary p{ font-size:1.4em; color:#666}
.datadetail .leveal{ overflow:hidden; padding:10px 10px 15px; font-size:1.2em; color:#333}
.datadetail .leveal table{ border-collapse:separate; border-spacing:1px}
.datadetail .leveal td{ padding:3px 5px; background:#ede2cc; text-align:center}
.datadetail .leveal .dt{ float:left; width:25%}
.datadetail .leveal .dd{ float:left; width:75%; overflow-x:auto}
.datadetail .leveal .dd table,.datadetail .leveal .db table{ width:100%}
.datadetail .leveal .l{padding:3px 5px; background:#43b9de; color:#fff; border-top:1px solid #fff3dc; text-align:center}
.datadetail .leveal .on{ background:#43b9de; color:#fff}
.datadetail .section{ margin-bottom:15px}
.datadetail .section .tit{ padding:5px 10px}
.datadetail .section .tit .icon{ background:#43b9de; width:3px; height:1.5em; display:inline-block; vertical-align:text-bottom}
.datadetail .section .tit h2{ font-size:1.6em; display:inline-block; color:#43b9de}
.datadetail .section .comment{ padding:0 10px; font-size:1.4em; color:#666}
.datadetail .list{ border-top:1px solid #cabea9; overflow:hidden; color:#333}
.datadetail .list .img{ width:25%; float:left; box-sizing:border-box; padding:20px}
.datadetail .list .d{ width:75%; float:left; font-size:1.4em; padding:15px 0}
.datadetail .list .d dl{ margin-bottom:5px}
.datadetail .list .d .lev{ background:#43b9de; color:#fff; padding:3px 7px; border-radius:12px; font-size:.8em}
.datadetail .list .d dt,.datadetail .list .d dd{ display:inline-block}
.datadetail .list .d dd span{ display:inline-block; margin-right:20px}
.datadetail .list i{ background:url(../images/data-bb-detail.png) no-repeat; width:15px; height:15px; display:inline-block; vertical-align:-2px; background-size:15px; margin-right:1px}
.datadetail .list i.ico_command{ background-position:0 0}/*司令部*/
.datadetail .list i.ico_life{ background-position:0 -15px}/*生命*/
.datadetail .list i.ico_dps{ background-position:0 -30px}/*每秒伤害*/
.datadetail .list i.ico_research{ background-position:0 -45px}/*研究院*/
.datadetail .list i.ico_wood{ background-position:0 -60px}/*木头*/
.datadetail .list i.ico_gold{ background-position:0 -75px}/*金币*/
.datadetail .list i.ico_steel{ background-position:0 -90px}/*钢铁*/
.datadetail .list i.ico_stone{ background-position:0 -105px}/*石头*/
.datadetail .list i.ico_time{ background-position:0 -120px}/*时间*/
.datadetail .list i.ico_exp{ background-position:0 -135px}/*经验*/
.datadetail .list i.ico_hps{ background-position:0 -150px}/*每秒治疗*/
.datadetail .list i.ico_weaponslabs{ background-position:0 -165px}/*武器实验室*/
.datadetail .list i.ico_criticalfuse{ background-position:0 -180px}/*临界熔断器*/
.datadetail .list i.ico_powerlever{ background-position:0 -195px}/*动力杆*/
.datadetail .list i.ico_fieldcapacitor{ background-position:0 -210px}/*场电容器*/
.datadetail .list i.ico_compoundgear{ background-position:0 -224px}/*复合齿轮*/
.datadetail .list i.ico_shockduration{ background-position:0 -240px}/*眩晕时间*/
.datadetail .list i.ico_shieldstrength{ background-position:0 -255px}/*护盾强度*/
/*阵型详情页*/
.formation .item{ border-bottom:1px solid #d3d3d3; padding-bottom:10px}
.formation .item:last-child{ border-bottom:0}
.formation .item h3{ font-size:1.7em; padding:10px}
.formation .item h3 span{ color:#c96; border:1px solid #c96; border-radius:10px; padding:0 4px; margin-right:5px; font-size:0.7em; vertical-align:1px}
.formation .item .img{ text-align:center}
.formation .item p{ padding:10px 10px 0; font-size:1.4em; color:#8f8f8f}









