@charset "utf-8";
/* 虚荣 2015-09-15 wuyunduoduopiao */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}
.mb_10{ margin-bottom:10px}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.fs_12{ font-size:12px}


body{ background:#08121a}
.header{ height:44px; border-bottom:1px solid #406fe8; background:#091723; position:fixed; width:100%; top:0; left:0; z-index:100}
.header h1{ font-size:18px; padding-top:8px; color:#fff; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.container{ margin-top:45px; color:#fff; font-size:1.8rem; text-align:center; padding-top:100px}

/*英雄详情*/

/*顶部背景*/
/*.herod .headbg{ position:relative;width:100%}*/
.herod{margin-top:45px; color:#fff}
.herod .plr_7{ padding:0 7px}
.herod .intro .top_l{ float:left}
.herod .intro .top_r{ float:right}
.herod .intro .name{ font-size:24px}
.icon_jobs{ width:28px; height:28px; display:inline-block; background:url(../images/vainglory/hero-detail.png); background-size:75px; vertical-align:-6px}
.icon_jobs_cike{ background-position:0 -35px}
.icon_jobs_gongjian{ background-position:0 -70px}
.icon_jobs_huweizhe{ background-position:0 -105px}
.icon_jobs_fashi{ background-position:0 -140px}
.herod .intro .top_r .item{ border:1px solid rgba(255,255,255,0.6); border-radius:3px; padding:0 5px; font-size:15px; display:inline-block; margin-top:7px}
.herod .intro .icon_honor{ background:url(../images/vainglory/hero-detail.png); background-position:-35px 0; background-size:75px; width:20px; height:21px; display:inline-block; vertical-align:-6px}
.herod .intro .icon_ice,.herod .skin .icon_ice{ background:url(../images/vainglory/hero-detail.png); background-position:-55px 0; background-size:75px; width:20px; height:21px; display:inline-block; vertical-align:-6px}
.herod .intro .intro_middle{ border-bottom:1px solid rgba(255,255,255,0.6); font-size:14px; color:#74c9ff; padding-bottom:4px}
.herod .intro .intro_bottom{ padding-top:8px}
.herod_h2{ font-size:17px; color:#74c9ff; margin-bottom:5px}
.herod .equipchoice ul{ text-align:center; box-shadow:0 0 2px #46ffeb; border:1px solid #51daef; background:linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25)); background:-webkit-linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25))} 
.herod .equipchoice ul li{ display:inline-block; width:14.5%; padding:5px; box-sizing:border-box; margin:10px 0}
.herod .equipchoice ul li img{ border-radius:100px}
.herod .specialtit ul{ overflow:hidden; text-align:center; box-shadow:0 0 2px #46ffeb; border:1px solid #51daef; background:linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25)); background:-webkit-linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25))} 
.herod .specialtit ul li{ float:left; width:20%; padding:5px; box-sizing:border-box}
.herod .herodata .graphical li{ margin-bottom:5px; position:relative; height:60px}
.herod .herodata .graphical li .r{ padding:7px 0 0 60px; box-sizing:border-box}
.herod .herodata .graphical li .r span{ font-size:1.4rem}
.herod i.icon_herodata{ position:absolute; background:url(../images/data-mt2-detail.png) no-repeat; width:60px; height:60px}
.herod i.icon_herodata_shuchu{ background-position:0 -180px}
.herod i.icon_herodata_tank{ background-position:0 -240px}
.herod i.icon_herodata_shengcun{ background-position:0 -300px}
.herod i.icon_herodata_fuzhu{ background-position:0 -360px}
.herod i.icon_herodata_nandu{ background-position:0 -420px}
.herod .star{ width:100%; overflow:hidden; margin-top:3px}
.herod .star em{ width:8%; height:18px; margin-right:2%; background:#3a2d57; float:left}
.herod .star1 em:first-child,.herod .star2 em:nth-child(-n+2),.herod .star3 em:nth-child(-n+3){ background:#47c197}
.herod .star4 em:nth-child(-n+4),.herod .star5 em:nth-child(-n+5),.herod .star6 em:nth-child(-n+6){ background:#4dd2fd}
.herod .star7 em:nth-child(-n+7),.herod .star8 em:nth-child(-n+8),.herod .star9 em:nth-child(-n+9),.herod .star10 em:nth-child(n){ background:#da5bff}
.herod .herodata .info{ overflow:hidden}
.herod .herodata .info li{ box-sizing:border-box; float:left; width:50%; font-size:1.2em}
.herod .herodata .info li span{ box-sizing:border-box; padding:0 7px;  color:#74c9ff}
.herod .herodata .herolevel_range{ width:100%}
.herod .skill_des_container span{ color:#74c9ff}
.herod .qipo ul{ overflow:hidden}
.herod .qipo .l{ float:left; width:36px; height:36px}
.herod .qipo .r{ padding:0 0 0 46px}
.herod .qipo .r div{ color:#74c9ff; line-height:1; padding-bottom:5px}
.herod .skills{ border-bottom:1px solid #74c9ff; padding-bottom:10px}
.herod .skills .title{ padding-bottom:5px; border-bottom:1px solid #74c9ff}
.herod .skills .title li{ float:left; position:relative; margin:0 20px 0 7px; padding:10px 0}
.herod .skills .title li img{ width:36px; height:36px}
.herod .skills .title li.on:before{ content:""; position:absolute; width:8px; height:8px; border:solid #74c9ff; border-width:1px 0 0 1px; bottom:-10px; left:50%; margin-left:-5px;  transform:rotate(45deg); -webkit-transform:rotate(45deg)}
.herod .skills .title li.on:after{ content:""; position:absolute; width:8px; height:8px; background:#08121a; bottom:-11px; left:50%; margin-left:-4px;  transform:rotate(45deg); -webkit-transform:rotate(45deg)}
.herod .skills .content .item{ display:none}
.herod .skills .content .item.on{ display:block}
.herod .skills .content .item .desc span{ color:#74c9ff; padding-right:5px; font-size:1.2rem}
.herod .skin .head{ overflow:hidden}
.herod .skin .head .item{ width:40px; height:42px; box-sizing:border-box; padding:7px; float:left}
.herod .skin .head .item.on{ background:#15232e}
.herod .skin .box{ background:#15232e; padding:7px}
.herod .skin .box span{ color:#74c9ff; padding-right:5px}


/*英雄列表*/
.herolist{ margin-top:45px; overflow:hidden; width:100%; height:40px; position:relative; border-bottom:1px solid #4dd2fd; box-sizing:border-box}
.herolist ul{ position:absolute; width:100%; height:39px}
.herolist li{ float:left; font-size:1.6em; color:#b0b8c8; padding:8px 20px 7px 20px; white-space:nowrap; position:relative}
.herolist ul li i{width: 1px; height: 18px; position: absolute; background: #4dd2fd; right: 0; top: 11px}






