@charset "utf-8";
/* 虚荣 2015-10-19 lucas */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none; width:100%; vertical-align:top; display:block}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}
.ml_16{ margin-left:16px}
.mb_10{ margin-bottom:10px}
.center{ text-align:center}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.fs_12{ font-size:12px}
.media_fs_14{ font-size:1.4rem}
.media_mb_20{ margin-bottom:20px}
.media_ml_16{ margin-left:16px}
.media_plr_7{ padding:0 7px}



body{ background:#08121a; color:#fff; -webkit-user-select:none; user-select:none}
.header{ height:44px; border-bottom:1px solid #355cbf; background:#091723; position:fixed; width:100%; top:0; left:0; z-index:100}
.header h1{ font-size:18px; padding-top:8px; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
/*滑动条*/
.herod .bar{ overflow:hidden; padding-right:5px}
.herod .bar .l{ float:left; width:15%; font-size:1.2rem; text-align:center}
.herod .bar .l div{ font-size:1.5rem}
.herod .bar .r{ margin:0 6px 0 15%; height:55px; position:relative}
.herod .bar .r .x_line{ width:100%; height:2px; position:absolute; top:15px; background:rgba(255,255,255,0.6)}
.herod .bar .r .point{ position:absolute; width:4px; height:4px; border-radius:50%; background:rgba(255,255,255,0.6); top:14px}
.herod .bar .r .point_l{}
.herod .bar .r .point_m{ left:50%; margin-left:-12px}/*-(4/2)+-(20/2)*/
.herod .bar .r .point_r{ right:0}
.herod .bar .r .barhandle{ width:20px; height:18px; background:url(../images/vainglory/hero-detail.png) -35px -35px; no-repeat; background-size:75px; position:absolute; top:7px; left:0}
.herod .bar .r .barhandle span{ width:46px; height:46px; display:block; margin-left:-13px}/*6+7=13*/
/*英雄详情*/
.herod_bg{ position:relative}
.herod_bg i{ position:absolute; width:100%; bottom:0; left:0; height:150px; background:linear-gradient(transparent, #08121a); background:-webkit-linear-gradient(transparent, #08121a)}
.herod{ position:relative}
.herod .bg{ margin-bottom: 10px; height: 100%; width: 100%}
.herod .plr_7{ padding:0 7px}
.herod .intro .top_l{ float:left}
.herod .intro .top_r{ float:right}
.herod .intro .name{ font-size:24px}
.icon_jobs{ width:28px; height:28px; display:inline-block; background:url(../images/vainglory/hero-detail.png); background-size:75px; vertical-align:-6px}
.icon_jobs_cike{ background-position:0 -35px}
.icon_jobs_gongjian{ background-position:0 -70px}
.icon_jobs_huweizhe{ background-position:0 -105px}
.icon_jobs_fashi{ background-position:0 -140px}
.herod .intro .top_r .item{ border:1px solid rgba(255,255,255,0.6); border-radius:3px; padding:0 5px; display:inline-block; margin-top:7px; margin-left:5px}
.herod .intro .icon_honor{ background:url(../images/vainglory/hero-detail.png); background-position:-35px 0; background-size:75px; width:20px; height:21px; display:inline-block; vertical-align:-6px}
.herod .intro .icon_ice,.herod .skin .icon_ice{ background:url(../images/vainglory/hero-detail.png); background-position:-55px 0; background-size:75px; width:20px; height:21px; display:inline-block; vertical-align:-6px}
.herod .intro .intro_middle{ border-bottom:1px solid rgba(255,255,255,0.6); font-size:14px; color:#74c9ff; padding-bottom:4px}
.herod .intro .intro_bottom{ padding-top:8px}
.herod_h2{ font-size:17px; color:#74c9ff; margin-bottom:5px}
/*.herod .equipchoice ul{ text-align:center; box-shadow:0 0 2px #46ffeb; border:1px solid #51daef; background:linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25)); background:-webkit-linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25))} */
.herod .equipchoice{ border-bottom: 1px solid #74c9ff; padding-bottom: 5px}
.herod .equipchoice1{ padding-bottom: 10px}
.herod .equipchoice ul{ text-align:center}
.herod .equipchoice ul li{ position:relative; display:inline-block; width:15%; padding:3px; box-sizing:border-box; margin:6px 0}
.herod .equipchoice ul li img{ border-radius:100px}
.herod .equipchoice1 .equipchoice_content .item.on{ display: block}
.herod .equipchoice1 .equipchoice_content .item{ display: none}
.herod .equipchoice ul li.on:before{ content:""; position: absolute; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #74c9ff; bottom: -16px; left: 50%; margin-left: -6px}
.herod .polygon { position: relative; display: inline-block; width: 10px; height: 12px; margin-right: 6px}
.herod .polygon i { position: absolute; width: 10px; height: 6px; top: 3px; left: 0; background: #74c9ff}
.herod .polygon:before { content:""; position: absolute; width: 0; top: 0; left: 0; border-bottom: 3px solid #74c9ff; border-left: 5px solid transparent; border-right: 5px solid transparent}
.herod .polygon:after { content:""; position: absolute; width: 0; top: 9px; left: 0; border-top: 3px solid #74c9ff; border-left: 5px solid transparent; border-right: 5px solid transparent}
.herod .equipchoice_content{ padding-top:15px}
.herod .equipchoice_content .col_4a7621{ color:#4a7621}
.herod .equipchoice_content .equip_name{ font-size:16px}
.herod .equipchoice_content .price { font-size:14px; margin-left:10px; color: #74c9ff; border: 1px solid #74c9ff; border-radius: 20px; padding: 0 5px}
.herod .equipchoice_content .label{ padding-top:5px; font-size:1.2rem}
.herod .equipchoice_content .label span{ padding:0 5px; margin-right:10px}
.herod .equipchoice_content .label span:first-child{ background:#c64251}
.herod .equipchoice_content .label span:nth-child(2){ background:#b88a3a}
.herod .equipchoice_content .label span:nth-child(3){ background:#3d899f}
.herod .equipchoice_content .label span:nth-child(4){ background:#9c62a6}


.herod .specialtit ul{ overflow:hidden; box-shadow:0 0 2px #46ffeb; border:1px solid #51daef; background:linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25)); background:-webkit-linear-gradient(rgba(0,33,91,0.25), rgba(0,63,242,0.25))} 
.herod .specialtit ul li{ text-align:center; display:inline-block; width:20%; padding:5px; box-sizing:border-box}
.herod .herodata .graphical li{ margin-bottom:5px; position:relative; height:60px}
.herod .herodata .graphical li .r{ padding-left:50px; box-sizing:border-box}
.herod .herodata .graphical li .r span{ font-size:1.4rem; line-height:1}
.herod i.icon_herodata{ position:absolute; background:url(../images/vainglory/hero-detail.png) no-repeat; width:40px; height:40px; background-size:75px}
.herod i.icon_herodata_shuchu{ background-position:0 -175px}
.herod i.icon_herodata_tank{ background-position:0 -225px}
.herod i.icon_herodata_shengcun{ background-position:0 -275px}
.herod i.icon_herodata_fuzhu{ background-position:0 -325px}
.herod i.icon_herodata_nandu{ background-position:0 -375px}
.herod .star{ width:100%; overflow:hidden; margin-top:3px}
.herod .star em{ width:7%; height:16px; margin-right:2.5%; background:#3a2d57; float:left}
.herod .star1 em:first-child,.herod .star2 em:nth-child(-n+2),.herod .star3 em:nth-child(-n+3){ background:#47c197}
.herod .star4 em:nth-child(-n+4),.herod .star5 em:nth-child(-n+5),.herod .star6 em:nth-child(-n+6){ background:#4dd2fd}
.herod .star7 em:nth-child(-n+7),.herod .star8 em:nth-child(-n+8),.herod .star9 em:nth-child(-n+9),.herod .star10 em:nth-child(n){ background:#da5bff}
.herod .herodata .info{ overflow:hidden}
.herod .herodata .info li{ margin-bottom:5px}
.herod .herodata .info li span{ padding:0 7px; color:#74c9ff}
.herod .herodata .herolevel_range{ width:100%}
.herod .skill_des_container span{ color:#74c9ff}
.herod .qipo ul{ overflow:hidden}
.herod .qipo ul .r .qp_skill{ padding-top:5px}
.herod .qipo .l{ float:left; width:36px; height:36px}
.herod .qipo .r{ padding:0 0 0 46px}
.herod .qipo .r div{ color:#74c9ff; line-height:1; padding-bottom:5px}
.herod .skills{ border-bottom:1px solid #74c9ff; padding-bottom:10px}
.herod .skills .title{ padding-bottom:5px; border-bottom:1px solid #74c9ff}
.herod .skills .title li{ float:left; position:relative; margin:0 20px 0 7px; padding:10px 0}
.herod .skills .title li img{ width:36px; height:36px}
.herod .skills .title li.on:before{content:""; position:absolute; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #74c9ff; bottom:-5px; left:50%; margin-left:-6px}
.herod .skills .content .item{ display:none}
.herod .skills .content .item.on{ display:block}
.herod .skills .content .item .desc{ padding-bottom:8px; font-size:1.4rem}
.herod .skills .content .item .desc span{ color:#74c9ff; padding-right:5px}
.herod .skin .head{ overflow:hidden; padding-left:7px}
.herod .skin .head li{ width:42px; height:44px; box-sizing:border-box; margin:0 7px 0 0; float:left}
.herod .skin .head li.on{ background:#15232e}
.herod .skin .box{ background:#15232e; padding:7px}
.herod .skin .box .item{ display:none; font-size:1.4rem}
.herod .skin .box .item.on{ display:block}
.herod .skin .box span{ color:#74c9ff; padding-right:5px}
.herod .skin .box .item h4{ padding-left:5px; display:inline}

@media screen and (min-width:640px){	
	/*滑动条*/	
	.herod .bar .l{ font-size:2.4rem}
	.herod .bar .l div{ font-size:3.0rem}
	.herod .bar .r{ margin:0 12px 0 15%; height:110px}
	.herod .bar .r .x_line{ height:4px; top:30px}
	.herod .bar .r .point{ width:8px; height:8px; top:28px}
	.herod .bar .r .point_m{ left:50%; margin-left:-24px}/*-(4/2)+-(20/2)*/
	.herod .bar .r .barhandle{ width:40px; height:36px; background:url(../images/vainglory/hero-detail.png) -70px -70px; background-size:150px; top:14px}
	.herod .bar .r .barhandle span{ width:92px; height:92px; margin-left:-26px}/*6+7=13*/


	.media_fs_14{ font-size:24px}
	.herod .plr_7{ padding:0 14px}
	.herod .intro .name{ font-size:48px}

	.icon_jobs{ width:56px; height:56px; background-size:150px; vertical-align:-12px}
	.icon_jobs_cike{ background-position:0 -70px}
	.icon_jobs_gongjian{ background-position:0 -140px}
	.icon_jobs_huweizhe{ background-position:0 -210px}
	.icon_jobs_fashi{ background-position:0 -280px}
	.herod .intro .icon_honor{ background-position:-70px 0; background-size:150px; width:40px; height:42px; vertical-align:-12px}
	.herod .intro .icon_ice,.herod .skin .icon_ice{ background-position:-110px 0; background-size:150px; width:40px; height:42px; vertical-align:-12px}


	.herod .intro .top_r .item{ font-size:20px}
	.herod .intro .intro_middle{font-size:28px}
	.herod_h2{ font-size:34px}
	.herod .herodata .graphical li{ margin-bottom:5px; height:120px}
	.herod .herodata .graphical li .r{ padding-left:100px}
	.herod .herodata .graphical li .r span{ font-size:2.8rem; line-height:2}
	.herod i.icon_herodata{ width:80px; height:80px; background-size:150px}
	.herod i.icon_herodata_shuchu{ background-position:0 -350px}
	.herod i.icon_herodata_tank{ background-position:0 -450px}
	.herod i.icon_herodata_shengcun{ background-position:0 -550px}
	.herod i.icon_herodata_fuzhu{ background-position:0 -650px}
	.herod i.icon_herodata_nandu{ background-position:0 -750px}
	.herod .star{ margin-top:6px}
	.herod .star em{ width:6%; height:20px; margin-right:3%}

	.herod .polygon{ width:20px; height:24px; margin-right:12px}
	.herod .polygon i{ width:20px; height:12px; top:6px; left:0}
	.herod .polygon:before{ border-bottom:6px solid #74c9ff; border-left:10px solid transparent; border-right:10px solid transparent}
	.herod .polygon:after{ top:18px; border-top:6px solid #74c9ff; border-left:10px solid transparent; border-right:10px solid transparent}
	.herod .equipchoice{ padding-bottom: 10px}
	.herod .equipchoice ul li.on:before{ bottom:-20px; border-left:12px solid transparent; border-right:12px solid transparent; border-bottom:12px solid #74c9ff; margin-left: -12px}
	.herod .equipchoice_content .equip_name{ font-size:28px}
	.herod .equipchoice_content .label{ padding-top:8px; font-size:24px}
	.herod .equipchoice_content .price { font-size:24px; margin-left:15px; padding: 0 7px}

	.herod .qipo ul .r .qp_skill{ padding-top:10px}
	.herod .qipo .l{ width:72px; height:72px}
	.herod .qipo .r{ padding:0 0 0 92px}
	.herod .qipo .r div{ line-height:2; padding-bottom:10px}
	.herod .skills .content .item .desc{ font-size:2.8rem}
	.herod .skills .title li img{ width:72px; height:72px}
	.herod .skills .content .item .desc{ font-size:2.0rem}
	.herod .skills .content .item .desc span{ padding-right:10px; font-size:2.4rem}
	.herod .skin .head li{ width:84px; height:88px; padding:7px 7px 0 7px}	
	.herod .skin .box .item{ font-size:2.0rem}
	.herod .skin .box span{ padding-right:10px}
}
/*英雄列表*/
.herolist{ margin-top:45px}
.herolist .nav{ border-bottom:1px solid #355cbf; position:relative; height:45px}
.herolist .nav .top li{ text-align:center; font-size:1.6rem; color:#b0b8c8; padding:10px 0 8px 0 ; position:relative; width:33.33%; display: inline-block}
.herolist .nav .top li.on{}
.herolist .nav .top li:after{ content:""; width: 1px; height: 18px; position: absolute; background: #355cbf; right: 0; top: 11px}
.herolist .nav .top li:last-child:after{ background:none}
.herolist .nav .top li i{ content: ""; display:inline-block; width: 8px; height: 8px; border: solid #fff; border-width: 1px 0 0 1px; vertical-align:3px; margin-left: 10px; -webkit-transform: rotate(225deg); transform:rotate(225deg)}
.herolist .nav .top li.on i{ vertical-align:-3px; -webkit-transform: rotate(45deg); transform:rotate(45deg)}

.herolist .heroitem{ text-align:center}
.herolist .heroitem li{ float:left; width:33.33%; padding:5px; box-sizing:border-box; margin:10px 0; position:relative}	
.herolist .heroitem .img{ padding:0 6px}
.herolist .heroitem .icon_heroitem{ display:inline-block; background:url(../images/vainglory/hero-detail.png); background-size:56.25px; vertical-align:-3px; margin-right:3px}
.herolist .heroitem .icon_jobs{ width:18px; height:18px;}
.herolist .heroitem .icon_jobs_cike{ background-position:0 -26.25px}
.herolist .heroitem .icon_jobs_gongjian{ background-position:0 -52.5px}
.herolist .heroitem .icon_jobs_huweizhe{ background-position:0 -78.75px}
.herolist .heroitem .icon_jobs_fashi{ background-position:0 -105px}
.herolist .heroitem .name{ font-size:14px}
.herolist .heroitem .gold{ background:#141b22; border:1px solid #646569; border-radius:3px; padding:0 5px; font-size:12px}
.herolist .heroitem .gold i{ width:12px; height:12px; background-size:45px}
.herolist .heroitem .gold span{ vertical-align:2px; padding-right:5px}
.herolist .heroitem .gold .icon_honor{ background-position:-21px 0; vertical-align:-3px}
.herolist .heroitem .gold .icon_ice{ background-position:-33px 0; vertical-align:-3px}
.herolist .select{ font-size:1.4em; position:absolute; width:100%; color:#b0b8c8; z-index:3; left:0; top:45px}
.herolist .select ul{ display:none; width:33.33%; background:rgba(41,48,58,0.9)}
.herolist .select ul:nth-child(2){ margin-left:33.33%}
.herolist .select ul:nth-child(3){ margin-left:66.66%}
.herolist .select ul.on{ display:block}
.herolist .select li{ text-align:center; padding:8px 0; border:solid #0e0f14; border-width:0 0 1px 0}
@media screen and (min-width:640px){	
	.herolist .nav{ height:60px}
	.herolist .nav .top li{ font-size:2.4rem}
	.herolist .heroitem li{ width:25%}	
	.herolist .nav .top li:after{ content:""; width: 2px; height: 28px; top: 16px}

	.herolist .heroitem .icon_heroitem{background-size:112.5px; vertical-align:-3px; margin-right:3px}
	.herolist .heroitem .icon_jobs{ width:36px; height:36px;}
	.herolist .heroitem .icon_jobs_cike{ background-position:0 -52.5px}
	.herolist .heroitem .icon_jobs_gongjian{ background-position:0 -105px}
	.herolist .heroitem .icon_jobs_huweizhe{ background-position:0 -156.5px}
	.herolist .heroitem .icon_jobs_fashi{ background-position:0 -210px}
	.herolist .heroitem .name{ font-size:28px}
	.herolist .heroitem .gold{ font-size:20px}
	.herolist .heroitem .gold i{ width:24px; height:24px; background-size:90px}
	.herolist .heroitem .gold span{ vertical-align:4px}
	.herolist .heroitem .gold .icon_honor{ background-position:-42px 0; vertical-align:-6px}
	.herolist .heroitem .gold .icon_ice{ background-position:-66px 0; vertical-align:-6px}
	.herolist .select{ font-size:20px; top:60px}
}

/*装备*/
.equip_body{ background:#11141f; color:#fff}
.equip{ margin-top:45px}
.equip .head{ border-bottom:1px solid #355cbf; display:table; width:100%}
.equip .head .item{ width:20%; height:50px; text-align:center; display:table-cell; vertical-align:middle; font-size:1.6rem; position:relative}
.equip .head .item.on{ color:#355cbf}
.equip .head .item:before{ content:""; background:#355cbf; width:1px; height:22px; position:absolute; right:0; top:15px}
.equip .head .item:last-child:before{ background:none}
.equip .content ul{ display:none; margin-bottom:20px}
.equip .content ul.on{ display:block}
.equip .content li{ display:inline-block; width:25%; text-align:center; padding-top:15px; vertical-align:top; font-size:1.4rem}
.equip .content li img{ width:58px; height:58px; display:inline}
@media screen and (min-width:640px){
	.equip .head .item{ height:70px; font-size:3rem}
	.equip .head .item:before{ height:34px; top:18px}
	.equip .content ul{ margin-bottom:40px}
	.equip .content li{ width:20%; padding-top:30px}
	.equip .content li img{ width:116px; height:116px}
	.equip .content li p{ font-size:2.6rem}
}
/*装备详情*/
.equipd{ margin-top:45px}
.equipd .head{ background:url(../images/quanminchaoshen/equip_detail_bg.jpg) no-repeat; background-size:cover; overflow:hidden; padding:15px 7px}
.equipd .head .l{ float:left; width:70px; height:70px; margin-right:12px}
.equipd .head .r{ margin-left:82px}
.equipd .head .r .tit{ font-size:1.6rem; margin-right:10px; vertical-align:middle}
.equipd .head .r .price{ color:#355cbf; border:1px solid #355cbf; border-radius:20px; padding:0 5px; vertical-align:middle}
.equipd .head .r .label{ padding-top:5px; font-size:1.2rem}
.equipd .head .r .label span{ padding:0 5px; margin-right:10px}
.equipd .head .r .label span:first-child{ background:#c64251}
.equipd .head .r .label span:nth-child(2){ background:#b88a3a}
.equipd .head .r .label span:nth-child(3){ background:#3d899f}
.equipd .head .r .label span:nth-child(4){ background:#9c62a6}
.equipd_h2{ font-size:1.5rem}
.equipd_h2 .polygon{ position:relative; display:inline-block; width:10px; height:12px; margin-right:6px}
.equipd_h2 .polygon i{ position:absolute; width:10px; height:6px; top:3px; left:0; background:#ffca28}
.equipd_h2 .polygon:before{ content:""; position:absolute; width:0; top:0; left:0; border-bottom:3px solid #ffca28; border-left:5px solid transparent; border-right:5px solid transparent}
.equipd_h2 .polygon:after{ content:""; position:absolute; width:0; top:9px; left:0; border-top:3px solid #ffca28; border-left:5px solid transparent; border-right:5px solid transparent}
.equipd .property p{ color:#ccc; font-size:1.4rem; line-height:1.3}
.equipd .property .col_4a7621{ color:#4a7621}
.equipd .need ul{ overflow:hidden; padding-top:5px}
.equipd .need li{ float:left; width:50px; height:50px; margin-right:15px}
.equipd .fithero{ margin-bottom:50px}
.equipd .fithero ul{ overflow:hidden; padding-top:5px}
.equipd .fithero li{ float:left; width:50px; margin:15px 15px 0 0}
@media screen and (min-width:640px){
	.equipd .head{ padding:30px 14px}
	.equipd .head .l{ width:140px; height:140px; margin-right:20px; text-align:center}
	.equipd .head .r{ margin-left:160px}
	.equipd .head .r .tit{ font-size:3rem; margin-right:20px}
	.equipd .head .r .price{ padding:0 7px; font-size:1.8rem}
	.equipd .head .r .label{ padding-top:10px}
	.equipd .head .r .label span{  padding:0 10px; margin-right:20px; font-size:2.4rem}
	.equipd_h2{ font-size:3rem}
	.equipd_h2 .polygon{ width:20px; height:24px; margin-right:12px}
	.equipd_h2 .polygon i{ width:20px; height:12px; top:6px; left:0}
	.equipd_h2 .polygon:before{ border-bottom:6px solid #ffca28; border-left:10px solid transparent; border-right:10px solid transparent}
	.equipd_h2 .polygon:after{ top:18px; border-top:6px solid #ffca28; border-left:10px solid transparent; border-right:10px solid transparent}
	.equipd .property p{ font-size:2.4rem}
	.equipd .need ul{ padding-top:10px}
	.equipd .need li{ width:100px; height:100px; margin-right:30px}
	.equipd .fithero{ margin-bottom:100px}
	.equipd .fithero ul{ padding-top:10px}
	.equipd .fithero li{ width:100px; height:100px; margin:30px 30px 20px 0}
}






