@charset "utf-8";
/* 部落冲突:皇室战争106; 2016-1-22 lucas */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1; _height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}

body{ color:#fff; background:url(../images/huangshizhanzheng/hszz_bg.jpg) 0 0 no-repeat; background-size:auto}
.header{ height:44px; border-bottom:1px solid #5086f0; background:#5086f0; position:fixed; width:100%; top:0; left:0;}
.header h1{ font-size:18px; padding-top:8px; text-align:center}
.header .compare{ position:absolute; right: 0; top: 15px; padding-right:15px}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}


.weaponlist{ color: #fff; margin-top:45px}
.weaponlist .head{ background:#001536; /*border-bottom:1px solid #359bff;*/ display:table; width:100%}
.weaponlist .head .item.on{ color:#359bff}
.weaponlist .head .item{ width:12%; height:50px; text-align:center; display:table-cell; vertical-align:middle; font-size:14px; position:relative}
.weaponlist .head .item:before{ content: ""; background:#359bff; width:1px; height:22px; position:absolute; right:0; top:15px}

.weaponlist .weapon_content{ text-align:center; margin-bottom:30px}
.weaponlist .weapon_content ul.on{ display:block}
.weaponlist .weapon_content ul{ display:none}
.weaponlist .weapon_content li{ display:inline-block; width:22%; text-align:center; padding-top:15px; vertical-align:top}
.weaponlist .weapon_content li img{ width:58px; height:58px;}
.weaponlist .weapon_content li p{ font-size:1.4rem; line-height:1; padding:5px 0}


.det_container{ margin: 65px 10px; /*background:red*/; height: 100%; width: 93.75%}
.det_container .descrile{ text-align: center}
.det_container .descrile .headpic{ width:100px; height:100px;}
.det_container .descrile .dec_dd{ margin-top: 15px; font-size: 14px }

.det_container .descrile .label{ margin-top: 10px }
.det_container .descrile .label span{ padding:0 5px; margin-right: 10px}
.det_container .descrile .label span:first-child{ background:#ec3a4a}
.det_container .descrile .label span:nth-child(2){ background:#ffb642}
.det_container .descrile .label span:nth-child(3){ background:#46ac27}
.line{ height:1px; width:100%; background:#2a3c57; margin: 20px 0}
