@charset "utf-8";
/* 全民超神 2015-10-09 wuyunduoduopiao */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}

.media_mb_10{ margin-bottom:10px}
.media_ml_16{ margin-left:16px}
.media_plr_7{ padding:0 7px}
@media screen and (min-width:640px){
	.media_mb_10{ margin-bottom:20px}
	.media_ml_16{ margin-left:32px}
	.media_plr_7{ padding:0 14px}
}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}


.hero_body{ background:#241e1c}
.header{ height:44px; border-bottom:1px solid #433d23; background:#1d1d1d; position:fixed; width:100%; top:0; left:0; z-index:100}
.header h1{ font-size:18px; padding-top:8px; color:#fff; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.container{ margin-top:45px; color:#fff; font-size:1.8rem; text-align:center; padding-top:100px}
/*英雄列表*/
.herolist{ margin-top:45px; padding-top:50px; color:#fff; text-align:center; margin-bottom:20px}
.herolist li{ width:21%; display:inline-block; margin-bottom:12px}
.herolist li img{ width:58px; height:58px}
.herolist p{ white-space:nowrap; font-size:1.4rem}
/*英雄详情*/
.herodetail .head{ position:relative}
.herodetail .head .tit{ text-align:center; color:#fff; line-height:50px; font-size:36px; font-style:italic; position:absolute; left:0; bottom:30px; width:100%}
.herodetail .head .tit div{ font-size:28px}
.herodetail .head .tit div em{ color:#ffc000; font-style:italic}
.herodetail .head img{ width:100%}

.herodetail .skills li{ display:table; width:100%; border-bottom:1px solid #352b29; padding-bottom:10px}
.herodetail .skills li .l{ width:28%; display:table-cell; vertical-align:top; padding:0 15px; box-sizing:border-box}
.herodetail .skills li .r{ width:72%; display:table-cell; vertical-align:top; padding-right:10px; box-sizing:border-box; color:#fff}
.herodetail .skills li .r .tit{ padding-top:5%; font-size:16px}
.herodetail .skills li .r .desc{ font-size:12px; color:#bebcbc}

.herodetail .bginfo{ position:relative}
.herodetail .bginfo .txt{ width:100%; height:100%; padding:42% 8% 0; box-sizing:border-box; position:absolute; top:0; left:0; color:#bebcbc; font-size:14px; font-style:italic}
.herodetail .bginfo .txt .smy{ margin-bottom:22px}
.herodetail .bginfo .txt .word{ float:left}
.herodetail .bginfo .txt .po{ float:right}
.herodetail .bginfo img{ width:100%}
/*装备*/
.equip_body{ background:#11141f; color:#fff}
.equip{ margin-top:45px}
.equip .head{ border-bottom:1px solid #ffca28; display:table; width:100%}
.equip .head .item{ width:25%; height:50px; text-align:center; display:table-cell; vertical-align:middle; font-size:1.6rem; position:relative}
.equip .head .item.on{ color:#ffca28}
.equip .head .item:nth-child(-n+3):before{ content:""; background:#ffca28; width:1px; height:22px; position:absolute; right:0; top:15px}
.equip .content li{ display:inline-block; width:25%; padding:10px; box-sizing:border-box; text-align:center; vertical-align:top; line-height:1.2; font-size:1.2rem}
.equip .content li img{ display:block; margin:0 auto 5px}
@media screen and (min-width:640px){
	.equip .head .item{ height:80px; font-size:3rem}
	.equip .head .item:nth-child(-n+3):before{ height:36px; top:24px}
	.equip .content li{ padding:30px 30px 10px; font-size:2.4rem}
	.equip .content li img{ margin:0 auto 10px}
}
/*装备详情*/
.equipd{ margin-top:45px}
.equipd .head{ background:url(../images/quanminchaoshen/equip_detail_bg.jpg) no-repeat; background-size:cover; overflow:hidden; padding:15px 7px}
.equipd .head .l{ float:left; width:70px; height:70px; margin-right:12px}
.equipd .head .r{ margin-left:82px}
.equipd .head .r .tit{ font-size:1.6rem; margin-right:10px; vertical-align:middle}
.equipd .head .r .price{ color:#ffca28; border:1px solid #ffca28; border-radius:20px; padding:0 5px; vertical-align:middle}
.equipd .head .r .label{ padding-top:5px}
.equipd .head .r .label span{ padding:0 5px; margin-right:10px}
.equipd_h2{ font-size:1.5rem}
.equipd_h2 .polygon{ position:relative; display:inline-block; width:10px; height:12px; margin-right:6px}
.equipd_h2 .polygon i{ position:absolute; width:10px; height:6px; top:3px; left:0; background:#ffca28}
.equipd_h2 .polygon:before{ content:""; position:absolute; width:0; top:0; left:0; border-bottom:3px solid #ffca28; border-left:5px solid transparent; border-right:5px solid transparent}
.equipd_h2 .polygon:after{ content:""; position:absolute; width:0; top:9px; left:0; border-top:3px solid #ffca28; border-left:5px solid transparent; border-right:5px solid transparent}
.equipd .property p{ color:#ccc; font-size:1.4rem; line-height:1.3}
.equipd .need ul{ overflow:hidden; padding-top:5px}
.equipd .need li{ float:left; width:40px; height:40px; margin-right:10px}
.equipd .fithero{ margin-bottom:50px}
.equipd .fithero ul{ overflow:hidden; padding-top:5px}
.equipd .fithero li{ float:left; width:50px; height:50px; margin-right:20px}
@media screen and (min-width:640px){
	.equipd .head{ padding:30px 14px}
	.equipd .head .l{ width:140px; height:140px; margin-right:20px; text-align:center}
	.equipd .head .r{ margin-left:160px}
	.equipd .head .r .tit{ font-size:3rem; margin-right:20px}
	.equipd .head .r .price{ padding:0 7px; font-size:1.8rem}
	.equipd .head .r .label{ padding-top:10px}
	.equipd .head .r .label span{  padding:0 10px; margin-right:20px; font-size:2.4rem}
	.equipd_h2{ font-size:3rem}
	.equipd_h2 .polygon{ width:20px; height:24px; margin-right:12px}
	.equipd_h2 .polygon i{ width:20px; height:12px; top:6px; left:0}
	.equipd_h2 .polygon:before{ border-bottom:6px solid #ffca28; border-left:10px solid transparent; border-right:10px solid transparent}
	.equipd_h2 .polygon:after{ top:18px; border-top:6px solid #ffca28; border-left:10px solid transparent; border-right:10px solid transparent}
	.equipd .property p{ font-size:2.4rem}
	.equipd .need ul{ padding-top:10px}
	.equipd .need li{ width:80px; height:80px; margin-right:20px}
	.equipd .fithero{ margin-bottom:100px}
	.equipd .fithero ul{ padding-top:10px}
	.equipd .fithero li{ width:100px; height:100px; margin-right:40px}
}













