@charset "utf-8";
/* 全民超神 2015-10-09 wuyunduoduopiao */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}

body{ background:#241e1c}
.header{ height:44px; border-bottom:1px solid #433d23; background:#1d1d1d; position:fixed; width:100%; top:0; left:0; z-index:100}
.header h1{ font-size:18px; padding-top:8px; color:#fff; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
/*英雄列表*/
.herolist{ margin-top:45px; padding-top:50px; color:#fff; text-align:center; margin-bottom:20px}
.herolist li{ width:21%; display:inline-block; margin-bottom:12px}
.herolist li img{ width:58px; height:58px}
.herolist p{ white-space:nowrap; font-size:1.4rem}
/*英雄详情*/
#wrapper * { -webkit-box-sizing:border-box}
header .tit { text-align:center; color:#fff; line-height:50px; font-size:36px; font-weight:bold; font-style:italic; position:absolute; left:0; bottom:30px; width:100%}
.skills ul { width:100%; height:100%; position:absolute}
.skills { position:relative}
.skills li { height:25%; padding-left:28%; font-style:italic; overflow:hidden}
.skills .desc { color:#bebcbc; font-size:10px; margin-top:2px; padding-right:20px}
.skills .tit { color:#fff; font-size:16px; margin-top:8%}
.bginfo { position:relative}
.bginfo .txt { width:100%; height:100%; padding:42% 8% 0 8%; line-height:24px; position:absolute; top:0; left:0; color:#bebcbc; font-size:12px; font-style:italic}
.bginfo .txt .smy { margin-bottom:22px; -webkit-box-sizing:border-box}
.bginfo .txt .word { float:left}
.bginfo .txt .po { float:right}
.img_width{ width:100%}
