@charset "utf-8";
/* 2015-09-10 wuyunduoduopiao */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,fieldset,legend{margin:0;padding:0}
html{font:625%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_45{ margin-top:45px !important}
::-webkit-scrollbar{ width:0}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}

body{ background:#f9ddd3 url(../images/qjnn/choice-bg.jpg) no-repeat fixed; background-size:cover}
.header{ height:44px; border-bottom:1px solid #dc7fb7; background:#f098b1; position:fixed; z-index:100; left:0; top:0; width:100%}
.header h1{ font-size:18px; padding-top:8px; color:#fff; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
/*首页data-qjnn-choice-index.html*/
.index{ width:100%; padding-top:1.1rem}
.index .item{ display:block; width:2.41rem; height:0.58rem; margin:0 auto 0.16rem; background:url(../images/qjnn/choice-index.png) no-repeat; background-size:2.41rem}
.index .item.item_2{ background-position:0 -0.6rem}
.index .item.item_3{ background-position:0 -1.2rem}
/*服装搭配data-qjnn-choice-clothes.html*/
.way_wrap{ font-size:0.12rem; height:0.54rem; border-bottom:1px solid #db6788; background:rgba(255,255,255,0.8); position:relative; padding:0 0.035rem}
.png_clothes{ background:url(../images/qjnn/choice-clothes.png) no-repeat; background-size:1.57rem}
.way_wrap .icon_w_l{ position:absolute; left:0; bottom:-1px; width:0.57rem; height:0.315rem}
.way_wrap .icon_w_r{ background-position:right 0; position:absolute; right:0; bottom:-1px; width:0.97rem; height:0.315rem}
.way{ display:table; width:100%; position:relative; z-index:3}
.way .item{ display:table-cell; width:25%; text-align:center}
.way .item.on .item_inner{ background:#ffd68f; color:#c85a5a}
.way .item_inner{ color:#c85a79; height:0.35rem; line-height:0.42rem; font-size:0.14rem; border:solid #c85a79; border-width:0.01rem 0.01rem 0.02rem 0.01rem; background:#fffeb6; margin:0.09rem 0.015rem 0; border-radius:0 0 0.05rem 0.05rem; position:relative}
.way .item .icon_x{ position:absolute; background-position:right -0.55rem; left:50%; top:0.04rem; margin-left:-0.115rem; width:0.23rem; height:0.05rem}
.way .item.on .icon_x{ background-position:right -0.6rem}
.way .item .icon_l,.way .item .icon_r{ position:absolute; background-position:right -0.4rem; left:0; bottom:0; width:0.15rem; height:0.115rem}
.way .item .icon_r{ left:auto; right:0; -webkit-transform:scaleX(-1); transform:scaleX(-1)}
.beam{ margin:0 0.15rem 0.05rem; font-size:0.12rem; background:#db6788; border-radius:0 0 0.1rem 0.1rem; height:0.28rem; position:relative}
.beam_attr{ text-align:center}
.beam_attr .item{ height:0.22rem; line-height:0.26rem; margin-top:0.02rem; display:inline-block; border-top:0.01rem solid #9c3d58; border-radius:0.01rem 0.01rem 0.03rem 0.03rem; background:#fea7bf; padding:0 0.18rem; color:#b75872; position:relative}
.beam_attr .item .icon_x{ width:0.2rem; height:0.01rem; background:#cb6a85; position:absolute; left:50%; top:0.025rem; margin-left:-0.1rem}
.beam_attr .item .icon_d_l,.beam_attr .item .icon_d_r{ position:absolute; left:0.02rem; width:0.01rem; height:0.01rem; background:#ce728b}
.beam_attr .item .icon_d_r{ left:auto; right:0.02rem}
.beam_attr .item .icon_d_1{ top:0.03rem}
.beam_attr .item .icon_d_2{ top:0.08rem}
.beam_attr .item .icon_d_3{ top:0.13rem}
.beam_attr .item .icon_d_4{ top:0.18rem}
.beam .zoom{ width:0.23rem; height:0.23rem; background:#fff; position:absolute; right:0.03rem; top:0.02rem; border-radius:0.08rem 0 0.08rem 0}
.beam .zoom .icon{ position:relative; width:0.16rem; height:0.16rem; margin:0.03rem 0 0 0.03rem}
.beam .zoom .icon_r{ border:0.01rem solid #db6788; border-radius:0.15rem; width:0.14rem; height:0.14rem; position:absolute; left:0; top:0}
.beam .zoom .icon_h{ width:0.04rem; height:0.01rem; background:#db6788; position:absolute; right:-0.01rem; bottom:0.01rem; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.beam_title{ text-align:center}
.beam_title .text{ height:0.28rem; line-height:0.28rem; color:#902543}
.beam_search{ overflow:hidden}
.beam_search .box{ float:left; height:0.23rem; background:#fff; margin:0.02rem 0 0 0.04rem; border-radius:0 0 0 0.08rem}
.beam_search .box .zoom{ position:static; float:left; background:none}
.beam_search .box .zoom .icon_r{ border-color:#d1d1d1}
.beam_search .box .zoom .icon_h{ background:#d1d1d1}
.beam_search .box .ipt_text{ border:none; width:1.47rem; height:0.23rem; line-height:0.23rem}
.beam_search .so{ float:left; width:0.52rem; height:0.23rem; line-height:0.23rem; background:#fea7bf; margin:0.02rem 0 0 0.04rem; text-align:center; color:#b75872}
.beam_search .so_cancel{ border-radius:0 0 0.08rem 0}
.container{ margin:0 0.13rem 0 0.05rem; position:relative}
/*衣服类别*/
.clothestype_wrap{ float:left; width:0.52rem; height:100%; overflow:hidden}/*overflow:hidden 防止.clothestype_wrap .box -0.5rem无效*/
.clothestype_back{ display:none; width:0.45rem; height:0.4rem; line-height:0.4rem; font-size:0.13rem; background:#fffeb6; color:#e6668b; box-sizing:border-box; border:0.02rem solid #ff7aa0; border-radius:0.09rem; text-align:center; margin-bottom:0.05rem}
.clothestype_wrap .box{ position:relative; overflow-y:auto; width:0.52rem; height:100%; -webkit-overflow-scrolling:touch}
.clothestype{ position:absolute; left:0; top:0; padding-bottom:0.5rem}
.clothestype .item{ width:0.5rem; height:0.4rem; font-size:0.13rem; background:#ff7aa0; color:#fffeb6; margin:0 0.02rem 0.05rem 0; box-sizing:border-box; border:0.02rem solid #ff7aa0; border-right:none; border-radius:0.09rem 0 0 0.09rem; display:table; text-align:center; position:relative}
.clothestype .item span{ position:absolute; right:0; top:-0.02rem; font-size:0.12rem; background:#ff5630; color:#fff; border-radius:0.14rem; width:0.14rem; text-align:center; height:0.14rem; line-height:0.14rem}
.clothestype .item.on{ background:#fffeb6; color:#e6668b}
.clothestype .item.on:before{ content:""; position:absolute; right:-0.02rem; top:0; bottom:0; width:0.02rem; background:#fffeb6}
.clothestype .item div{ display:table-cell; vertical-align:middle; line-height:1}
/*衣柜*/
.wardrobe_room{ margin-left:0.49rem; box-sizing:border-box; border:solid #ff7aa0; border-width:0.02rem 0.02rem 0; border-radius:0 0.09rem 0 0; background:#fffeb6; padding:0.05rem 0.05rem 0; height:100%}
.wardrobe_room_back{ border-radius:0.09rem 0.09rem 0 0}
.wardrobe_wrap{ background:#ddca6f; border-radius:0.05rem 0.05rem 0 0; height:100%; overflow:hidden}/*overflow:hidden 防止.wardrobe_filter .wardrobe -0.15rem无效*/
.wardrobe_spe{ font-size:0.12rem; display:none; height:0.22rem; padding:0 0.03rem; z-index:2; position:relative}
.wardrobe_filter .wardrobe_spe{ display:block}
.wardrobe_spe_inner{ width:100%; table-layout:fixed; display:table}
.wardrobe_spe .item{ width:33%; display:table-cell; padding:0 0.02rem; box-sizing:border-box}
.wardrobe_spe .item div{ box-shadow:0 0.01rem 0.01rem #b3a450; color:#765000; font-size:0.13rem; border:solid #fffeb6; border-width:0 0.02rem 0.02rem; border-radius:0 0 0.05rem 0.05rem; background:#ffd562; text-align:center}
.wardrobe_spe .item.on div{ background:#fffeb6}
.wardrobe{ position:relative; overflow-y:auto; height:100%; -webkit-overflow-scrolling:touch; margin-left:0.05rem; -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0)}
.wardrobe_filter .wardrobe{ margin:-0.07rem 0 -0.15rem 0.05rem}
.wardrobe_inner{ position:absolute; width:100%}
.wardrobe_filter .wardrobe_inner{ padding-bottom:0.15rem}
.wardrobe .item .head{ position:relative}
.wardrobe .item .head.head_first{ height:0.15rem}
.wardrobe .item .head .icon_gun{ width:100%; height:0.03rem; border-radius:0.02rem 0 0 0.02rem; background:#dfde87; position:absolute; top:0.06rem; left:0}
.wardrobe .item .head .icon_ring{ width:0.09rem; height:0.09rem; border:0.02rem solid #765000; border-radius:0.09rem; position:absolute; left:50%; top:0.01rem; margin-left:-0.165rem}
.wardrobe .item .head .icon_ring_1{ width:0.065rem; height:0.06rem; background:#ddca6f; position:absolute; left:50%; margin-left:-0.165rem; top:0.09rem}
.wardrobe .item .head .icon_ring_2{ width:0.065rem; height:0.03rem; background:#dfde87; position:absolute; left:50%; margin-left:-0.165rem; top:0.06rem}
.wardrobe .item .head .icon_handle{ width:0.02rem; height:0.03rem; background:#765000; position:absolute; left:50%; margin-left:-0.11rem; bottom:0}
.wardrobe .item .head .icon_line{ width:0.02rem; height:0.05rem; background:#765000; position:absolute; left:50%; margin-left:-0.11rem; bottom:0}
.wardrobe .clothes{ position:relative; margin:0 0.22rem 0.05rem 0}
.wardrobe .clothes .icon_top{ background:#765000; height:0.17rem; display:block; border-radius:0.05rem 0.05rem 0 0}
.wardrobe .clothes .add{ position:absolute; width:0.28rem; height:0.28rem; right:0; top:0; background:#765000; border-radius:0 0.05rem 0 0.05rem}
.wardrobe .clothes .add .icon_x{ position:absolute; right:0.07rem; top:0.14rem; width:0.14rem; height:0.01rem; background:#fff}
.wardrobe .on .clothes .add .icon_x{ background:#e96288; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:right top 0; transform-origin:right top 0; width:0.09rem; right:0.14rem; top:0.19rem}
.wardrobe .clothes .add .icon_y{ position:absolute; right:0.14rem; top:0.07rem; width:0.01rem; height:0.14rem; background:#fff}
.wardrobe .on .clothes .add .icon_y{ background:#e96288; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:right top 0; transform-origin:right top 0; height:0.14rem; right:0.045rem; top:0.1rem}
.wardrobe .clothes .box,.wardrobe .clothes .box_back{ margin:-0.16rem 0.01rem 0; padding:0 0.05rem; background:#feffd2; border-radius:0.04rem; height:0.65rem; box-shadow:0.01rem 0.01rem 0.01rem #b3a450; overflow:hidden}
.wardrobe .on .clothes .box,.wardrobe .on .clothes .box_back{ background:#ffe1e1}
.wardrobe .clothes .box .t1{ height:0.375rem; line-height:0.375rem; font-size:0.15rem; color:#644400; border-bottom:1px solid #cdce99; text-align:center}
.wardrobe .clothes .box .t2{ display:table; width:100%; font-size:0.1rem; table-layout:fixed}
.wardrobe .clothes .box .t2 .td{ display:table-cell; width:50%; height:0.23rem; line-height:0.24rem; text-align:center; color:#976907; overflow:hidden; white-space:nowrap}
.wardrobe .clothes .box .t2 .td:last-child{ border-left:1px solid #cdce99}
.wardrobe .clothes .box .t2 .score{ font-size:0.13rem}
.wardrobe .clothes .box_back .t1{ height:0.23rem; line-height:0.23rem; color:#644400; border-bottom:1px solid #cdce99; font-size:0.12rem}
.wardrobe .clothes .box_back .t2{ font-size:0.1rem; color:#976907; padding-top:0.02rem}
.wardrobe .clothes .box_back .t3{ font-size:0.1rem; color:#d54a46}
/*有返回的二级衣服类别*/
.clothestype_two .clothestype_back{ display:block}
.clothestype_two .clothestype_wrap .box{ margin-bottom:-0.45rem}
.clothestype_two .clothestype_wrap .box .clothestype{ padding-bottom:0.95rem}/*0.45+0.5*/
.clothestype_two .wardrobe_room{ border-radius:0.09rem 0.09rem 0 0}
/*已选服饰拉手*/
.door{ position:absolute; z-index:10; height:1.1rem; width:0.47rem; color:#976907; border-left:0.01rem solid rgba(190,191,160,0.75); border-radius:0.1rem; background:#ffeb8b; right:0.03rem; font-size:0.13rem; top:50%; margin-top:-0.55rem}
.door .front{ position:relative; height:100%; padding:0.16rem 0 0 0.03rem; box-sizing:border-box}
.door .front .icon_trig,.door .back .icon_trig{ position:absolute; right:0.03rem; top:50%; margin-top:-0.025rem; width:0.05rem; height:0.05rem; border:solid #9e7210; border-width:0 0 0.01rem 0.01rem; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.door .front .num{ border:1px solid #9e7210; display:inline-block; padding:0 0.05rem; border-radius:0.03rem}
.door .front .t2{ margin-top:0.13rem}
.door .front .score{ font-size:0.1rem}
.door .back{ display:none}
.door_open{ width:0.25rem; text-align:center; right:1rem}
.door_open .front{ display:none}
.door_open .back{ display:block}
.door_open .back{ padding:0.35rem 0.05rem 0 0}
.door_open .back .icon_trig{ border-width:0.01rem 0.01rem 0 0}
/*已选服饰*/
.basket_wrap{ position:absolute; z-index:3; width:1.01rem; right:0.05rem; top:0.07rem; bottom:0; background:#fffeb6; display:none}
.basket{ display:table; width:100%; height:100%; border-radius:0 0.1rem 0 0; border-left:0.01rem solid rgba(190,191,160,0.75); box-sizing:border-box}
.basket .head{ font-size:0.13rem; color:#976907; text-align:center; display:table-row; height:0.36rem}
.basket .head div{ display:table-cell; vertical-align:middle}
.basket .head .icon_l,.basket .head .icon_r{ background-position:right -0.65rem; width:0.11rem; height:0.18rem; display:inline-block; vertical-align:-0.04rem; margin-right:0.02rem}
.basket .head .icon_r{ -webkit-transform:scaleX(-1); transform:scaleX(-1); margin:0 0 0 0.02rem}
.basket_inner{ display:table-row}
.basket_y{ display:table-cell; font-size:0.1rem; position:relative; width:100%; height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch}
.basket .content{ position:absolute; left:0.04rem; right:0.01rem; top:0}
.basket .item{ background:#e6d47c; height:0.35rem; margin-bottom:0.02rem; padding:0.05rem 0.04rem}
.basket .item:first-child{ border-radius:0.04rem 0.04rem 0 0}
.basket .item:last-child{ border-radius:0 0 0.04rem 0.04rem}
.basket .item .m{ background:#b17800; height:100%; border-radius:0.04rem; border:0.01rem solid #463000; text-align:center; white-space:nowrap; overflow:hidden}
.basket .item .m1{ color:#fff282; border-bottom:0.01rem solid #6c4900; margin:0 0.02rem}
.basket .item .m2{ color:#e3b043}
.basket .foot{ display:table-row; height:0.8rem; color:#976907}
.basket .foot .t1{ font-size:0.12rem; padding-left:0.05rem}
.basket .foot .score{ font-size:0.18rem; line-height:1; padding:0 0 0.06rem 0.1rem}
.basket .foot .t2{ font-size:0.13rem}
.basket .foot .btn{ border:0.01rem solid #c4880b; border-radius:0 0 0.05rem 0.05rem; width:0.8rem; height:0.3rem; line-height:0.3rem; display:block; margin:0 auto; box-sizing:border-box; text-align:center; position:relative}
.basket .foot .btn .icon_line1{ width:0.78rem; height:0.01rem; position:absolute; top:-0.01rem; left:0; background:#835b06}
.basket .foot .btn .icon_line2{ width:0.76rem; height:0.01rem; position:absolute; top:-0.02rem; left:0.01rem; background:#835b06}
.basket .foot .btn .icon_line3{ width:0.2rem; height:0.02rem; position:absolute; top:0.03rem; left:50%; margin-left:-0.1rem; background:#835b06}
/*弹窗:1保存套装,2竞技场,3联盟委托,4关卡,5特殊属性,6五属性*/
.dialog{ width:2.7rem; background:#fff; border-radius:0.1rem; display:none; padding:0.2rem 0.1rem 0.16rem}
.dialog .foot{ font-size:0.15rem; padding-top:0.16rem; border-top:1px solid #c88800; position:relative}
.dialog .foot .icon{ position:absolute; top:-3px; -webkit-transform:rotate(-30deg); transform:rotate(-30deg)}
.dialog .foot .icon code{ width:5px; height:5px; background:#c88800; display:block; -webkit-transform:skewX(30deg); transform:skewX(30deg)}
.dialog .foot .icon_l{ left:0}
.dialog .foot .icon_r{ right:0}
.dialog .foot .handle{ display:table; width:100%}
.dialog .foot .handle .item{ display:table-cell; width:50%}
.dialog .foot .handle .item a{ width:1.26rem; height:0.38rem; line-height:0.38rem; display:block; text-align:center; margin:0 auto}
.dialog .foot .btn_cancel{ background-position:0 -0.4rem; color:#a2a1a1}
.dialog .foot .btn_sure{ background-position:0 -0.8rem; color:#fff}
.dialog_0{ font-size:0.15rem; height:0.57rem}


.dialog_1,.dialog_2{ font-size:0.14rem; height:2.6rem; overflow-y:auto; -webkit-overflow-scrolling:touch}
.dialog_1 .item,.dialog_2 .item{ float:left; width:50%}
.dialog_1 .item span,.dialog_2 .item span,.dialog_5 .item span{ text-align:center; margin:0.05rem; height:0.3rem; line-height:0.3rem; padding:0 0.07rem; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; border:0.01rem solid #ffb619; display:block; color:#c88800; border-radius:0.15rem}
.dialog_1 .item.on span,.dialog_2 .item.on span,.dialog_5 .item.on span{ background:#ffb619; color:#fff}
.dialog_3{ font-size:0.12rem; height:2.6rem}
.dialog_3 .l{ width:0.51rem; height:100%; float:left; overflow-y:auto; position:relative; -webkit-overflow-scrolling:touch}
.dialog_3 .l .box{ position:absolute; top:0; left:0}
.dialog_3 .l .item{ width:0.5rem; margin:0 0.01rem 0.05rem 0; height:0.27rem; line-height:0.27rem; text-align:center; border:0.01rem solid #e1e1e1; border-right:none; border-radius:0.15rem 0 0 0.15rem; box-sizing:border-box; background:#e1e1e1; color:#999}
.dialog_3 .l .item.on{ color:#c88800; background:#fff; border-color:#ffb619; position:relative}
.dialog_3 .l .item.on:before{ content:""; position:absolute; right:-0.01rem; top:0; bottom:0; width:0.01rem; background:#fff}
.dialog_3 .r{ height:100%; margin-left:0.5rem; border:solid #ffb619; border-width:0.01rem 0.01rem 0; border-radius:0 0.05rem 0 0; box-sizing:border-box}
.dialog_3 .r .box_wrap{ position:relative; height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch}
.dialog_3 .r .box{ position:absolute; top:0; left:0; width:100%; padding:0.1rem 0.06rem; box-sizing:border-box}
.dialog_3 .r .item{ float:left; width:50%}
.dialog_3 .r .item div{ border:0.01rem solid #ffb619; margin:0.06rem 0.05rem 0; text-align:center; color:#ffb619; border-radius:0.05rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.dialog_3 .r .item.on div{ background:#ffb619; color:#fff}
.dialog_4{ font-size:0.14rem; height:1.75rem; overflow:hidden}
.dialog_4 .item{ float:left; width:33.33%; border-right:1px solid #ffb67b; box-sizing:border-box; text-align:center; margin-bottom:0.25rem}
.dialog_4 .item:nth-child(3){ border:none}
.dialog_4 .item a{ border:1px solid #ffb619; display:block; margin:0 0.15rem; height:0.3rem; line-height:0.3rem; border-radius:0.2rem; color:#c88800}
.dialog_4 .item a:first-child{ margin-bottom:0.05rem}
.dialog_4 .item a.on{ background:#ffb619; color:#fff}
.dialog_5{ font-size:0.14rem; height:2.6rem; overflow-y:auto; -webkit-overflow-scrolling:touch}
.dialog_5 .item{ float:left; width:33.33%}
.dialog_6{ font-size:0.15rem; height:0.57rem}
.dialog_6 .ipt_text{ width:100%; height:0.35rem; line-height:0.35rem; padding:0 0.05rem; box-sizing:border-box; border:0.01rem solid #ffb619; border-radius:0.08rem}
/*我的套装data-qjnn-choice-my.html*/
.my{ font-size:0.12rem; padding-top:0.15rem}
.my .item{ background:#fff; border-radius:0.05rem; box-shadow:0 0.02rem rgba(169,145,142,0.8); margin:0 0.1rem 0.1rem; color:#907a4d}
.my .item_inner{ display:table; width:100%; padding:0.06rem 0}
.my .item .l{ width:70%; display:table-cell; padding-left:0.1rem; box-sizing:border-box}
.my .item .l .title{ color:#644400; font-size:0.16rem}
.my .item .l .time{ font-size:0.1rem}
.my .item .r{ width:30%; display:table-cell; padding-left:0.1rem; box-sizing:border-box; border-left:1px solid #c0aa7b; position:relative}
.my .item .r .close{ position:absolute; width:0.28rem; height:0.28rem; right:0; top:-0.06rem; background:#765000; border-radius:0 0.05rem 0 0.05rem}
.my .item .r .close .icon_x,.my .item .r .close .icon_y{ position:absolute; right:0.07rem; top:0.14rem; width:0.14rem; height:0.01rem; background:#fff; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.my .item .r .close .icon_y{ -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.my .item .r .dt{ font-size:0.1rem}
.my .item .r .dd{ font-size:0.18rem}
/*套装详情data-qjnn-choice-mydetail.html*/
.mydetail{ background:rgba(255,255,255,0.7); padding:0 0.07rem 0.2rem; font-size:0.12rem}
.mydetail .head{ text-align:center}
.mydetail .head .title{ font-size:0.15rem; color:#5c5c5c; padding:0.07rem 0 0.03rem}
.mydetail .head .icon{ background:url(../images/qjnn/choice-mydetail.png) no-repeat; background-size:2.63rem; width:2.63rem; height:0.11rem; display:block; margin:0 auto}
.mydetail .head .b{ position:relative; height:0.4rem}
.mydetail .head .b .btn{ background:#ffa4a2; border-radius:0.03rem; position:absolute; left:50%; margin-left:-1rem; padding:0.02rem 0.32rem; color:#fff}
.mydetail .head .b .btn:last-child{ margin-left:0.12rem}
.mydetail .scoreshow{ width:100%; border:solid #ef7d7b; border-width:1px 0; overflow:hidden}
.mydetail .scoreshow .l{ float:left; width:52%; box-sizing:border-box; padding:0.25rem 0 0 0.18rem; color:#5c5c5c}
.mydetail .scoreshow .l .dd{ padding-left:0.2rem; font-size:0.24rem}
.mydetail .scoreshow .r{ float:left; width:48%; box-sizing:border-box; padding:0.13rem 0 0.13rem 0.23rem; border-left:1px solid #ef7d7b; color:#de706f}
.mydetail .suit div{ color:#5c5c5c; font-size:0.14rem; padding:0.14rem 0 0.03rem}
.mydetail .suit ul{ overflow:hidden}
.mydetail .suit li{ width:49%; margin:0 1% 0.05rem 0; float:left; height:0.32rem; border:0.01rem solid #ef7d7b; box-sizing:border-box; border-radius:0.03rem; padding:0.03rem 0.05rem; color:#ef7d7b; line-height:1; overflow:hidden}
.mydetail .suit li:nth-child(even){ margin:0 0 0.05rem 1%}
.mydetail .suit li span{ float:left; height:0.24rem}





