@charset "utf-8";
/* 守望先锋111 2016-04-25 lucas */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.mt_0{ margin-top:0 !important}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}

.media_fs_14{ font-size:14px}
.media_fs_18{ font-size:18px}
.media_mb_20{ margin-bottom:20px}
.media_ml_16{ margin-left:16px}
.media_plr_7{ padding:0 7px}
@media screen and (min-width:640px){
	.media_fs_14{ font-size:28px}
	.media_fs_18{ font-size:32px}
	.media_mb_20{ margin-bottom:40px}
	.media_ml_16{ margin-left:32px}
	.media_plr_7{ padding:0 14px}
}
.header{ height:44px; border-bottom:1px solid #433d23; background:#1c395f; position:fixed; width:100%; top:0; left:0; z-index:100}
.header h1{ font-size:18px; padding-top:8px; color:#fff; text-align:center}
.header .back{ position:absolute; top:13px; left:15px; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
/*英雄列表*/
.hero_body{ background:url("../images/shouwangxianfeng/bg.png") no-repeat; background-size:cover; color:#fff; -webkit-user-select:none; user-select:none}
.herolist{color:#fff; margin-top:45px}
.herolist .head{ display:table; width:100%; background:#38618b}
.herolist .head .item{ width:20%; height:50px; text-align:center; display:table-cell; vertical-align:middle; font-size:16px; position:relative; color:#00abea;}
.herolist .head .item.on{ color:#fff}
.herolist .head .item:before{ content:""; background:#00abea; width:1px; height:22px; position:absolute; right:0; top:15px}
.herolist .head .item:last-child:before{ background:none}
.herolist .content{ text-align:center; margin-bottom:30px}
.herolist .content ul{ display:none}
.herolist .content ul.on{ display:block}
.herolist .content li{ display:inline-block; width:45%; padding-top:15px; padding-right:10px;}
.herolist .content li img{}
.herolist .content li p{ font-size:14px; line-height:1; padding:5px 0}
@media screen and (min-width:640px){
	.herolist .head .item{ height:70px; font-size:30px}
	.herolist .head .item:before{ height:34px; top:18px}
	.herolist .content{ margin-bottom:60px}
	.herolist .content li{ padding-top:30px}
	.herolist .content li img{}
	.herolist .content li p{ font-size:26px; padding:10px 0}
}
/*英雄详情*/
.d_body{ background:url("../images/shouwangxianfeng/bg.png") no-repeat; background-size:cover}
.herod{ margin:45px 10px 0 10px;}
.herod .des{ width:100%; display:box; display:-moz-box; display:-webkit-box;}
.herod .des .left{ width:100px; box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; color:#fff;}
.herod .des .left .d_name{ font-size:18px; color:#00abea; margin-top:10px;}
.herod .des .left .location{ position:relative;}
.herod .des .left .location .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/location.png) no-repeat; background-size:100%; width:15px; height:15px;}
.herod .des .left .location .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .left .name{ position:relative;}
.herod .des .left .name .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/name.png) no-repeat; background-size:100%; width:15px; height:15px; }
.herod .des .left .name .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .left .age{ position:relative;}
.herod .des .left .age .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/age.png) no-repeat; background-size:100%; width:15px; height:15px; }
.herod .des .left .age .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .left .profession{ position:relative;}
.herod .des .left .profession .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/profession.png) no-repeat; background-size:100%; width:15px; height:15px; }
.herod .des .left .profession .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .left .actionbase{ position:relative;}
.herod .des .left .actionbase .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/action_base.png) no-repeat; background-size:100%; width:15px; height:15px; }
.herod .des .left .actionbase .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .left .subjection{ position:relative;}
.herod .des .left .subjection .icon{ position:absolute; top:10px; background:url(../images/shouwangxianfeng/icon/subjection.png) no-repeat; background-size:100%; width:15px; height:15px; }
.herod .des .left .subjection .text{ display:inline-block; padding-left:20px; padding-top:6px; font-size:14px;}
.herod .des .right{ width:100px; height:100%; box-flex:1; -moz-box-flex:1; -webkit-box-flex:1}
.herod .des .right .d_word{ padding-left:10px; font-size:18px; color:#00abea;  margin-top:10px; text-align:center;}
.herod .des .right .pic{ width:150px; height:125px; padding:5px; background:url(../images/shouwangxianfeng/icon_bg.png) no-repeat; background-size:contain;}
.herod .des .right .property{ color:#fff; background:#1c395f; display:inline-block; margin-top:10px; margin-left:10px; padding:0 5px; font-size:10px; border-radius:5px;}
.herod .des .right .property .describle{  color:#00abea;}
.herod .des .right .property .value{ line-height:25px;}
.herod .dottedline{ background:url(../images/shouwangxianfeng/line.png); margin: 20px 0 ; height: 1px; display:block;}
.herod .exp{ font-size:16px; color:#fff}
.herod .exp .d_exp{ font-size:14px; color:#00abea; margin-right:10px; margin-top:10px;}
.herod .exp .d_exp .dot{ background:#00abea; width:5px; height:5px; border-radius:50px; display:inline-block;}
.herod .exp .d_exp .des_exp{ margin-left:5px; margin-top:8px;}

.herod .skills{ border-bottom:1px;}
.herod .skills .title{ padding-bottom:5px; border-bottom:1px solid #74c9ff}
.herod .skills .title li{ float:left; position:relative; margin:0 10px 0 7px; padding:10px 0}
.herod .skills .title li.on:before{content:""; position:absolute; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #74c9ff; bottom:-5px; left:50%; margin-left:-6px}
.herod .skills .icon_bg{ background:url(../images/shouwangxianfeng/skill_bg.png) no-repeat; background-size:contain; width:36px; height:36px; padding:5px;} 	
.herod .skills .content .item{ display:none}
.herod .skills .content .video{}
.herod .skills .content .item.on{ display:block}
.herod .skills .content .item .skillname{ margin:10px 0; font-size:16px; color:#fff;}
.herod .skills .content .item .skilldes{ margin:10px 0; font-size:14px; color:#00abea;}
.herod .story_tit{ margin:10px 0; font-size:16px; color:#fff;}
.herod .story_cont{ margin:10px 0; font-size:14px; color:#00abea; }
@media screen and (min-width:640px){
	.herod{ margin:45px 20px 0 20px;}
	.herod .des .left .d_name{ font-size:36px;}	
	.herod .des .left .location .icon{ top:20px; width:30px; height:30px;}
	.herod .des .left .location .text{ padding-left:40px; padding-top:12px; font-size:28px;}	
	.herod .des .left .name .icon{ top:20px; width:30px; height:30px; }
	.herod .des .left .name .text{ padding-left:40px; padding-top:12px; font-size:28px;}
	.herod .des .left .age .icon{ top:20px; width:30px; height:30px; }
	.herod .des .left .age .text{ padding-left:40px; padding-top:12px; font-size:28px;}
	.herod .des .left .profession .icon{ top:20px; width:30px; height:30px; }
	.herod .des .left .profession .text{ padding-left:40px; padding-top:12px; font-size:28px;}
	.herod .des .left .actionbase .icon{ top:20px; width:30px; height:30px; }
	.herod .des .left .actionbase .text{ padding-left:40px; padding-top:12px; font-size:28px;}	
	.herod .des .left .subjection .icon{ top:20px; width:30px; height:30px; }
	.herod .des .left .subjection .text{ padding-left:40px; padding-top:12px; font-size:28px;}
	.herod .des .right .d_word{ padding-left:20px; font-size:36px; margin-top:20px;}
	.herod .des .right .pic{ width:300px; height:250px; padding:8px;}
	.herod .des .right .property{ margin-top:20px; margin-left:20px; padding:0 10px; font-size:20px}
	.herod .des .right .property .value{ line-height:50px;}

	.herod .dottedline{ margin: 40px 0; height: 2px;}
	.herod .exp{ font-size:32px;}
	.herod .exp .d_exp{ font-size:28px; margin-right:20px; margin-top:20px;}
	.herod .exp .d_exp .dot{ width:10px; height:10px;}
	.herod .exp .d_exp .des_exp{ margin-left:10px; margin-top:16px;}

	.herod .skills{ border-bottom:2px;}
	.herod .skills .title{ padding-bottom:10px; border-bottom:2px solid #74c9ff}
	.herod .skills .title li{ margin:0 20px 0 14px; padding:20px 0}
	.herod .skills .icon_bg{ width:72px; height:72px; padding:5px;} 
	.herod .skills .title li.on:before{ border-left:12px solid transparent; border-right:12px solid transparent; border-bottom:12px solid #74c9ff; bottom:-10px;  margin-left:-12px}



	.herod .skills .content .video{ margin-left:20px;}
	.herod .skills .content .item .skillname{ margin:20px 0; font-size:32px}
	.herod .skills .content .item .skilldes{ margin:20px 0; font-size:28px;}
	.herod .story_tit{ margin:20px 0; font-size:32px;}
	.herod .story_cont{ margin:20px 0; font-size:32px;}
}