@charset "utf-8";
/* 炉石传说 2015.7.2 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}
.hide{ display:none !important}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}

body{ -webkit-user-select:none; user-select:none}
.data_body{ background:#ead0a2 url(../images/lushichuanshuo/data-bg.jpg) no-repeat fixed center bottom; background-size:cover}
.header{ height:49px; background:#845832; position:relative; border-bottom:1px solid #dba542}
.data_body .header{ width:100%; position:fixed; z-index:10; top:0; left:0}
.header .back{ position:absolute; left:10px; top:12px; color:#fff; font-size:1.8rem}
.header .back i{ display:inline-block; border:solid #fff; border-width:0 0 1px 1px; width:15px; height:15px; transform:rotate(45deg); -webkit-transform:rotate(45deg); cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.header h1{ line-height:50px; font-size:1.8rem; text-align:center; color:#fff}
.header .more{ position:absolute; right:7px; top:17px; font-size:1.2rem; color:#fde69f}
.header .ka_edit{ position:absolute; right:7px; top:12px; font-size:1.8rem; color:#fff; cursor:pointer}
.header_ios{ background:none; border:0}
.header_ios .back{ display:none}
.header_ios h1{ display:none}
/*数据库*/
.data_type{ width:100%; background:#ffe697; position:fixed; z-index:9; top:50px; left:0; transition:top 0.5s ease-out}
.data_type_ios{ top:0}
.data_type ul{overflow:hidden}
.data_type li{ width:20%; float:left; border:solid #ffbc3f; border-width:0 1px 1px 0; box-sizing:border-box; text-align:center; cursor:pointer}
.data_type li.on{ background:#7d6438}
.data_type li i{ background:url(../images/lushichuanshuo/data-type.jpg) no-repeat; background-size:175px; width:35px; height:35px; display:block; margin:4px auto; border-radius:70px}
.data_type li i.deluyi{ background-position:-35px 0}
.data_type li i.lieren{ background-position:-70px 0}
.data_type li i.fashi{ background-position:-105px 0}
.data_type li i.shengqishi{ background-position:-140px 0}
.data_type li i.mushi{ background-position:0 -35px}
.data_type li i.qianxingzhe{ background-position:-35px -35px}
.data_type li i.saman{ background-position:-70px -35px}
.data_type li i.shushi{ background-position:-105px -35px}
.data_type li i.zhanshi{ background-position:-140px -35px}
.data_type li.on i{ box-shadow:0 0 10px #feffa3}
.data_type_animate{ top:-88px; transition:top 0.5s ease-out}
.data_card{ width:100%; margin:148px 0 50px}
.data_card_ios{ margin-top:98px}
.nodata{ padding-left:5px; font-size:1.2rem}
/*公用搜索*/
.so{ height:40px; position:relative; padding:10px 5px 0; font-size:1.4rem}
.so .box{ margin-right:50px}
.so .ipt_so{ width:100%; height:26px; line-height:26px; box-sizing:border-box; border:1px solid #7d5f3a; border-radius:5px 0 0 5px; padding:0 30px 0 3px; background:#faebc9; font-family:"Microsoft YaHei",sans-serif}
.so .btn_so{ position:absolute; width:50px; height:26px; line-height:26px; right:5px; top:10px; color:#fde69f; font-family:"Microsoft YaHei",sans-serif; outline:none; border:1px solid #7d5f3a; border-radius:0 5px 5px 0; -webkit-appearance:none; background:#7d5f3a}
.so .so_cancel{ position:absolute; right:60px; top:13px; width:20px; height:20px}
.so .so_cancel .x,.so .so_cancel .y{ width:18px; height:1px; background:#333; position:absolute; top:9px; right:1px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.so .so_cancel .y{ -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.data_card ul{ overflow:hidden}
.data_card li{ float:left; width:33.33%; text-align:center; cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.data_card li .pic{ margin:0 10px 2px; position:relative}
.data_card li .pic img{ width:100%; height:auto}
.data_card li .pic div{ position:absolute; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; left:0; top:0; background-size:cover}
.data_card li p{ font-size:1.2rem; color:#322b27; height:36px}
.data_fei{ width:100%; position:fixed; bottom:0; left:0; height:34px; background:rgba(29,20,4,0.6); border-top:1px solid #ffd957; display:table; z-index:10}
.data_fei .item{ width:11.11%; display:table-cell; text-align:center; position:relative; overflow:hidden; cursor:pointer}
.data_fei .item i{ background:url(../images/lushichuanshuo/data-fei.png) no-repeat; background-size:320px; height:30px; width:30px; display:block; margin:2px auto 0}
.data_fei .item i.item_0{ background-position:-30px 0}
.data_fei .item i.item_1{ background-position:-60px 0}
.data_fei .item i.item_2{ background-position:-90px 0}
.data_fei .item i.item_3{ background-position:-120px 0}
.data_fei .item i.item_4{ background-position:-150px 0}
.data_fei .item i.item_5{ background-position:-180px 0}
.data_fei .item i.item_6{ background-position:-210px 0}
.data_fei .item i.item_7{ background-position:-240px 0}
.data_fei .item.on span{ background:url(../images/lushichuanshuo/data-fei.png) -270px 0px no-repeat; background-size:320px; height:40px; width:40px; left:50%; top:-4px; position:absolute; margin-left:-19px}
@media screen and (min-width:640px){
	.nodata{ padding-left:10px; font-size:2rem}
	/*公用搜索*/
	.so{ height:80px; padding:20px 10px 0; font-size:2.2rem}
	.so .box{ margin-right:100px}
	.so .ipt_so{ height:52px; line-height:52px; border-radius:10px 0 0 10px; padding:0 60px 0 3px}
	.so .btn_so{ width:100px; height:52px; line-height:52px; right:10px; top:20px; border-radius:0 10px 10px 0}
	.so .so_cancel{ right:120px; top:26px; width:40px; height:40px}
	.so .so_cancel .x,.so .so_cancel .y{ width:36px; height:2px; top:18px; right:2px}	
	.data_card li{ width:25%}
	.data_card li p{ font-size:2rem; height:60px}
}
@media screen and (min-width:768px){
	.data_card{ margin:183px 0 100px}
	.data_card_ios{ margin-top:123px}
	.data_type li i{ background-size:262.5px; width:52.5px; height:52.5px}
	.data_type li i.deluyi{ background-position:-52.5px 0}
	.data_type li i.lieren{ background-position:-105px 0}
	.data_type li i.fashi{ background-position:-157.5px 0}
	.data_type li i.shengqishi{ background-position:-210px 0}
	.data_type li i.mushi{ background-position:0 -52.5px}
	.data_type li i.qianxingzhe{ background-position:-52.5px -52.5px}
	.data_type li i.saman{ background-position:-105px -52.5px}
	.data_type li i.shushi{ background-position:-157.5px -52.5px}
	.data_type li i.zhanshi{ background-position:-210px -52.5px}
	.data_type_animate{ top:-123px}
	.data_fei{ height:69px}
	.data_fei .item i{ background-size:640px; width:60px; height:60px; margin-top:4px}
	.data_fei .item i.item_0{ background-position:-60px 0}
	.data_fei .item i.item_1{ background-position:-120px 0}
	.data_fei .item i.item_2{ background-position:-180px 0}
	.data_fei .item i.item_3{ background-position:-240px 0}
	.data_fei .item i.item_4{ background-position:-300px 0}
	.data_fei .item i.item_5{ background-position:-360px 0}
	.data_fei .item i.item_6{ background-position:-420px 0}
	.data_fei .item i.item_7{ background-position:-480px 0}
	.data_fei .item.on span{ background-position:-540px 0; background-size:640px; width:80px; height:80px; top:-8px; margin-left:-39px}
}
@media screen and (min-width:1024px){
	.data_card{ margin:218px 0 100px}
	.data_card_ios{ margin-top:168px}
	.data_card li{ width:20%}
	.data_type li i{ background-size:350px; width:70px; height:70px}
	.data_type li i.deluyi{ background-position:-70px 0}
	.data_type li i.lieren{ background-position:-140px 0}
	.data_type li i.fashi{ background-position:-210px 0}
	.data_type li i.shengqishi{ background-position:-280px 0}
	.data_type li i.mushi{ background-position:0 -70px}
	.data_type li i.qianxingzhe{ background-position:-70px -70px}
	.data_type li i.saman{ background-position:-140px -70px}
	.data_type li i.shushi{ background-position:-210px -70px}
	.data_type li i.zhanshi{ background-position:-280px -70px}
	.data_type_animate{ top:-158px}
}
/*数据库-单张卡片弹窗*/
.dialogcard{ background:rgba(0,0,0,0.9); color:#fff; width:100%; height:100%; z-index:9999; position:fixed; top:0; left:0; overflow-y:auto}
.dialogcard .pic{ padding:10px 70px 5px; text-align:center}
.dialogcard .zy{ background:url(../images/lushichuanshuo/data-zhiye.png) no-repeat; background-size:189px; width:189px; height:50px; margin:0 auto}
.dialogcard .deluyi{ background-position:0 -50px}
.dialogcard .lieren{ background-position:0 -100px}
.dialogcard .fashi{ background-position:0 -150px}
.dialogcard .shengqishi{ background-position:0 -200px}
.dialogcard .mushi{ background-position:0 -250px}
.dialogcard .qianxingzhe{ background-position:0 -300px}
.dialogcard .saman{ background-position:0 -350px}
.dialogcard .shushi{ background-position:0 -400px}
.dialogcard .zhanshi{ background-position:0 -450px}
.dialogcard .line1,.dialogcard .line2,.dialogcard .line3{ margin:0 18px; border-bottom:1px solid #71706e; padding:10px 0; overflow:hidden}
.dialogcard .line1 .name{ font-size:1.8rem; float:left; margin-right:20px}
.dialogcard .line1 .lev{ color:#fc7508; font-size:1.2rem; margin-top:5px; color:#fff}
.dialogcard .line1 .lev i{background:url(../images/lushichuanshuo/data-fei.png) no-repeat; background-size:320px; height:15px; width:12px; display:inline-block; vertical-align:-3px; margin-right:3px}
.dialogcard .line1 .lev_free i{ background:none}
.dialogcard .line1 .lev_white i{ background-position:0 -40px}
.dialogcard .line1 .lev_blue{ color:#277dff}
.dialogcard .line1 .lev_blue i{ background-position:-12px -40px}
.dialogcard .line1 .lev_purple{ color:#8439d2}
.dialogcard .line1 .lev_purple i{ background-position:-24px -40px}
.dialogcard .line1 .lev_orange{ color:#fc7508}
.dialogcard .line1 .lev_orange i{ background-position:-36px -40px}
.dialogcard .line2,.dialogcard .line3{ font-size:1.5rem}
.dialogcard .line2 .k,.dialogcard .line3 .k{ color:#ffd957; padding-right:10px}
.dialogcard .line2 .l{ float:left}
.dialogcard .line2 .r{ float:right}
.dialogcard .line3{ border:0}
/*卡组模拟*/
.ka_body{ background:#2f2a21 url(../images/lushichuanshuo/ka-bg.jpg) no-repeat center bottom; background-size:cover}
.ka_road .item{ width:220px; height:42px; padding-top:28px; color:#321701; background:url(../images/lushichuanshuo/ka-btn.png) no-repeat; background-size:220px; text-align:center; margin:45px auto 0; font-size:1.8rem; display:block}
@media screen and (min-width:641px){
	.ka_road .item{ width:440px; height:84px; padding-top:54px; background-size:440px; margin-top:90px; font-size:3.6rem}
}
/*卡组模拟-创建卡组*/
.ka_switch{ overflow:hidden; width:100%; padding:15px 0 30px}
.ka_switch .item{ width:33.33%; float:left; text-align:center; color:#ffd957; font-size:1.2rem; cursor:pointer}
.ka_switch .item i{ width:97px; height:78px; background:url(../images/lushichuanshuo/ka-zhiye2.png) no-repeat; background-size:97px; display:block; margin:20px auto 5px}
.ka_switch .item i.lieren{ background-position:0 -78px}
.ka_switch .item i.fashi{ background-position:0 -156px}
.ka_switch .item i.shengqishi{ background-position:0 -234px}
.ka_switch .item i.mushi{ background-position:0 -312px}
.ka_switch .item i.qianxingzhe{ background-position:0 -390px}
.ka_switch .item i.saman{ background-position:0 -468px}
.ka_switch .item i.shushi{ background-position:0 -546px}
.ka_switch .item i.zhanshi{ background-position:0 -624px}
@media screen and (min-width:641px){
	.ka_switch .item{ font-size:2.4rem}
	.ka_switch .item i{ width:194px; height:156px; background-size:194px; margin-top:40px}
	.ka_switch .item i.lieren{ background-position:0 -156px}
	.ka_switch .item i.fashi{ background-position:0 -312px}
	.ka_switch .item i.shengqishi{ background-position:0 -468px}
	.ka_switch .item i.mushi{ background-position:0 -624px}
	.ka_switch .item i.qianxingzhe{ background-position:0 -780px}
	.ka_switch .item i.saman{ background-position:0 -936px}
	.ka_switch .item i.shushi{ background-position:0 -1092px}
	.ka_switch .item i.zhanshi{ background-position:0 -1248px}
}
/*卡组模拟-编辑卡牌*/
.ka_add{ overflow:hidden}
.ka_add .aside{ position:absolute; right:0; top:0; width:106px; height:100%; padding-top:50px; box-sizing:border-box}/*总共设计让出右边110,ios不需要头部需要去掉padding-top*/
.ka_add .aside_ios{ padding-top:0}
.ka_add .aside_inner{ background:#191623; height:100%; position:relative}
.ka_add .aside .ka_flag{ margin-left:-3px}
.ka_flag{ width:109px; height:86px; position:relative}
.ka_flag .box{ background:url(../images/lushichuanshuo/ka-mycard.png) 13px -50px no-repeat; background-size:109px; height:86px}
.ka_flag .box.lieren{ background-position:13px -136px}/*272*/
.ka_flag .box.fashi{ background-position:13px -222px}/*444*/
.ka_flag .box.shengqishi{ background-position:13px -308px}/*616*/
.ka_flag .box.mushi{ background-position:13px -394px}/*788*/
.ka_flag .box.qianxingzhe{ background-position:13px -480px}/*960*/
.ka_flag .box.saman{ background-position:13px -566px}/*1132*/
.ka_flag .box.shushi{ background-position:13px -652px}/*1304*/
.ka_flag .box.zhanshi{ background-position:13px -738px}/*1476*/
.ka_flag .zhiye{ background:url(../images/lushichuanshuo/ka-zhiye2.png) -4px -24px no-repeat; background-size:111px; width:100px; height:40px; position:absolute; top:12px; left:5px}
.ka_flag .box.lieren .zhiye{ background-position:-4px -113px}/*194/111=1.747747 156/1.747747=89.2577 24+89=113*/
.ka_flag .box.fashi .zhiye{ background-position:-4px -202px}
.ka_flag .box.shengqishi .zhiye{ background-position:-4px -291px}
.ka_flag .box.mushi .zhiye{ background-position:-4px -380px}
.ka_flag .box.qianxingzhe .zhiye{ background-position:-4px -469px}
.ka_flag .box.saman .zhiye{ background-position:-4px -558px}
.ka_flag .box.shushi .zhiye{ background-position:-4px -647px}
.ka_flag .box.zhanshi .zhiye{ background-position:-4px -736px}
.ka_flag .mask{ width:109px; height:48px; position:absolute; background:url(../images/lushichuanshuo/ka-mycard.png) no-repeat; background-size:109px; top:7px; left:0}
.ka_flag .text{ position:absolute; width:88px; height:14px; font-size:1.2rem; line-height:1; border:none; top:32px; left:12px; background:transparent; color:#fde69f}
.ka_flag .text_p{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.ka_add .aside .content{ position:relative; margin:-25px 0 0 -3px; z-index:2; overflow-y:auto; height:calc(100% - 129px); -webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0,0,0,0)}/*ka_flag-负上去的，再加底部的完成。86-25+68=129*/
.ka_add .aside .item{ height:20px; position:relative; margin-bottom:3px; cursor:pointer}
.ka_add .aside .item .hero{ position:absolute; background-size:180px; background-position:-47px -62px; background-repeat:no-repeat; width:90px; height:16px; top:2px; right:7px}
.ka_add .aside .item .mask,.ka_add .aside .item_glod .mask{ background:url(../images/lushichuanshuo/ka-number.png) 0 -60px no-repeat; width:102px; height:20px; position:absolute; left:4px; background-size:220px}
.ka_add .aside .item_glod .mask{ background-position:-102px -60px}
.ka_add .aside .item .num,.ka_add .aside .item_glod .num{ background:url(../images/lushichuanshuo/ka-number.png) -200px 0 no-repeat; width:20px; height:20px; position:absolute; background-size:220px}
.ka_add .aside .item_glod .num{ background-position:-200px -20px}
.ka_add .aside .item .num span{ background:url(../images/lushichuanshuo/ka-number.png) no-repeat; width:100%; height:100%; background-size:220px; display:block}
.ka_add .aside .item .num_1 span{ background-position:-20px 0}
.ka_add .aside .item .num_2 span{ background-position:-40px 0}
.ka_add .aside .item .num_3 span{ background-position:-60px 0}
.ka_add .aside .item .num_4 span{ background-position:-80px 0}
.ka_add .aside .item .num_5 span{ background-position:-100px 0}
.ka_add .aside .item .num_6 span{ background-position:-120px 0}
.ka_add .aside .item .num_7 span{ background-position:-140px 0}
.ka_add .aside .item .num_8 span{ background-position:-160px 0}
.ka_add .aside .item .num_9 span{ background-position:-180px 0}
.ka_add .aside .item .num_10 span{ background-position:0 -20px}
.ka_add .aside .item .num_12 span{ background-position:-40px -20px}
.ka_add .aside .item .num_20 span{ background-position:0 -40px}
.ka_add .aside .item p{ position:absolute; left:20px; top:1px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:84px; color:#fff; text-shadow:1px 1px 1px #000; font-size:1.2rem}
.ka_add .aside .item .double{ background:url(../images/lushichuanshuo/ka-number.png) -204px -60px no-repeat; background-size:220px; right:7px; top:2px; width:16px; height:15px; position:absolute}
.ka_add .aside_bottom{ position:absolute; bottom:0; text-align:center; width:100%; z-index:3}
.ka_add .aside_bottom div{ color:#fff; font-size:1.6rem}
.ka_add .aside_bottom a{ background:url(../images/lushichuanshuo/ka-btn.png) -4px -75px no-repeat; background-size:220px; width:106px; height:44px; display:block}
@media screen and (min-width:641px){
	.ka_add .aside{ width:212px}
	.ka_add .aside .ka_flag{ margin-left:-6px}
	.ka_flag{ width:218px; height:172px}
	.ka_flag .box{ background-position:26px -100px; background-size:218px; height:172px}
	.ka_flag .box.lieren{ background-position:26px -272px}
	.ka_flag .box.fashi{ background-position:26px -444px}
	.ka_flag .box.shengqishi{ background-position:26px -616px}
	.ka_flag .box.mushi{ background-position:26px -788px}
	.ka_flag .box.qianxingzhe{ background-position:26px -960px}
	.ka_flag .box.saman{ background-position:26px -1132px}
	.ka_flag .box.shushi{ background-position:26px -1304px}
	.ka_flag .box.zhanshi{ background-position:26px -1476px}
	.ka_flag .zhiye{ background-position:-8px -48px; background-size:222px; width:200px; height:80px; top:24px; left:10px}
	.ka_flag .box.lieren .zhiye{ background-position:-8px -226px}/*194/222=0.873873 156/0.873873=178.5156 48+178=226*/
	.ka_flag .box.fashi .zhiye{ background-position:-8px -404px}
	.ka_flag .box.shengqishi .zhiye{ background-position:-8px -582px}
	.ka_flag .box.mushi .zhiye{ background-position:-8px -760px}
	.ka_flag .box.qianxingzhe .zhiye{ background-position:-8px -938px}
	.ka_flag .box.saman .zhiye{ background-position:-8px -1116px}
	.ka_flag .box.shushi .zhiye{ background-position:-8px -1294px}
	.ka_flag .box.zhanshi .zhiye{ background-position:-8px -1472px}
	.ka_flag .mask{ width:218px; height:96px; background-size:218px; top:14px}
	.ka_flag .text{ width:176px; height:28px; font-size:2.4rem; line-height:1; top:64px; left:24px}
	.ka_add .aside .content{ margin:-50px 0 0 -6px; height:calc(100% - 258px)}/*ka_flag-负上去的，再加底部的完成。172-50+136=258*/
	.ka_add .aside .item{ height:40px; margin-bottom:6px}
	.ka_add .aside .item .hero{ background-size:360px; background-position:-94px -124px; width:180px; height:32px; top:4px; right:14px}
	.ka_add .aside .item .mask,.ka_add .aside .item_glod .mask{ background-position:0 -120px; width:204px; height:40px; left:8px; background-size:440px}
	.ka_add .aside .item_glod .mask{ background-position:-204px -120px}
	.ka_add .aside .item .num,.ka_add .aside .item_glod .num{ background-position:-400px 0; width:40px; height:40px; background-size:440px}
	.ka_add .aside .item_glod .num{ background-position:-400px -40px}
	.ka_add .aside .item .num span{ background-size:440px}
	.ka_add .aside .item .num_1 span{ background-position:-40px 0}
	.ka_add .aside .item .num_2 span{ background-position:-80px 0}
	.ka_add .aside .item .num_3 span{ background-position:-120px 0}
	.ka_add .aside .item .num_4 span{ background-position:-160px 0}
	.ka_add .aside .item .num_5 span{ background-position:-200px 0}
	.ka_add .aside .item .num_6 span{ background-position:-240px 0}
	.ka_add .aside .item .num_7 span{ background-position:-280px 0}
	.ka_add .aside .item .num_8 span{ background-position:-320px 0}
	.ka_add .aside .item .num_9 span{ background-position:-360px 0}
	.ka_add .aside .item .num_10 span{ background-position:0 -40px}
	.ka_add .aside .item .num_12 span{ background-position:-80px -40px}
	.ka_add .aside .item .num_20 span{ background-position:0 -80px}
	.ka_add .aside .item p{ left:42px; top:4px; width:165px; font-size:2rem}
	.ka_add .aside .item .double{ background-position:-408px -120px; background-size:440px; right:14px; top:4px; width:32px; height:30px}
	.ka_add .aside_bottom div{ color:#fff; font-size:3.2rem}
	.ka_add .aside_bottom a{ background-position:-8px -150px; background-size:440px; width:212px; height:88px}
}
/*卡组模拟-编辑卡牌-左侧主体*/
.ka_add .main{ margin-right:110px}
.ka_add .main .so .ipt_so{ border-radius:15px 0 0 15px}
.ka_add .main .so .btn_so{ border-radius:0 15px 15px 0}
.ka_add .main .filter{ height:30px}
.ka_add .main .filter .td_l{ float:left; width:36%; padding-left:5px; box-sizing:border-box}
.ka_add .main .filter .item{ font-size:1.2rem; color:#ffd957}
.ka_add .main .filter .td_l .item{ border:1px solid #ffd957; float:left}
.ka_add .main .filter .td_l .item:first-child{ border-radius:30px 0 0 30px; padding:1px 2px 1px 6px}
.ka_add .main .filter .td_l .item:last-child{ border-radius:0 30px 30px 0; padding:1px 6px 1px 2px}
.ka_add .main .filter .td_l .on{ background:#ffd957; color:#2f2a21}
.ka_add .main .filter .td_r{ float:left; width:64%; padding-right:5px; box-sizing:border-box}
.ka_add .main .filter .td_r_1,.ka_add .main .filter .td_r_2{ float:left; width:50%}
.ka_add .main .filter .td_r .group{ padding:1px 13px 1px 6px; width:40px; position:relative; border:1px solid #ffd957; border-radius:30px}
.ka_add .main .filter .td_r .group .arrow{ border-width:4px; border-style:solid dashed dashed; border-color:#ffd957 transparent transparent; position:absolute; top:9px; right:5px}
.ka_add .main .filter .td_r_1 .group{ margin:0 auto}
.ka_add .main .filter .td_r_2 .group{ float:right}
.ka_add .main .filter .group_select{ display:none; position:absolute; z-index:4; left:50%; top:25px; margin-left:-31px; font-size:1.2rem; color:#fff; width:103px; background:rgba(50,32,24,0.83); border:1px solid #ffd957; border-radius:5px; box-shadow:0 0 5px #ffd957 inset}
.ka_add .main .filter .group_select li{ border:1px solid #ffd957; border-radius:15px; margin:14px 8px}
.ka_add .main .filter .group_select li.on{ background:linear-gradient(rgba(253,230,136,0.9), rgba(255,188,63,0.9)); background:-webkit-linear-gradient(rgba(253,230,136,0.9), rgba(255,188,63,0.9))}
.ka_add .main .filter .group_select li div{ box-shadow:0 0 4px rgba(36,0,0,0.45) inset; padding:0 10px; border-radius:15px}
@media screen and (min-width:641px){
	.ka_add .main{ margin-right:220px}
	.ka_add .main .so .ipt_so{ border-radius:30px 0 0 30px}
	.ka_add .main .so .btn_so{ border-radius:0 30px 30px 0}
	.ka_add .main .filter{ height:60px}
	.ka_add .main .filter .td_l{ padding-left:10px}
	.ka_add .main .filter .item{ font-size:2rem}
	.ka_add .main .filter .td_l .item:first-child{ padding:0 6px 1px 14px}
	.ka_add .main .filter .td_l .item:last-child{ padding:0 14px 1px 6px}
	.ka_add .main .filter .td_r{ padding-right:10px}
	.ka_add .main .filter .td_r .group{ padding:0 30px 1px 16px; width:80px}
	.ka_add .main .filter .td_r .group .arrow{ border-width:8px; top:14px; right:10px}
	.ka_add .main .filter .group_select{ top:38px; margin-left:-64px; font-size:2rem; width:206px}
	.ka_add .main .filter .group_select li{ margin:18px 12px}
	.ka_add .main .filter .group_select li div{ padding:0 20px}	
}
/*卡组模拟-编辑卡牌-左侧主体-卡牌组*/
.ka_add .maincard{ overflow-y:auto; -webkit-overflow-scrolling:touch; -webkit-transform-style:preserve-3d; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.ka_add .maincard .item{ float:left; width:33.33%; color:#fde69f; text-align:center; position:relative}
.ka_add .maincard .item .w{ margin:5px; position:relative}
.ka_add .maincard .item .w img{ width:100%; height:auto}
.ka_add .maincard .item .w .zoom{ background:url(../images/lushichuanshuo/ka-number.png) right -80px no-repeat; width:100%; height:30px; background-size:220px; position:absolute; top:0; left:0; z-index:4; backface-visibility:hidden; -webkit-backface-visibility:hidden; cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.ka_add .maincard .item .w .pic{ position:absolute; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; left:0; top:0; background-size:cover}
.ka_add .maincard .item .w .picfront{ backface-visibility:hidden; -webkit-backface-visibility:hidden; z-index:3}
.ka_add .maincard .item .flip1 .zoom,.ka_add .maincard .item .flip1 .picfront{ -webkit-animation:picfrontflip 2s ease-out 0s 1 normal}
.ka_add .maincard .item .flip1 .picback{ -webkit-animation:picbackflip 2s ease-out 0s 1 normal}
.ka_add .maincard .item .flip2 .zoom,.ka_add .maincard .item .flip2 .picfront{ -webkit-animation:picfrontflip2 2s ease-out 0s 1 normal}
.ka_add .maincard .item .flip2 .picback{ -webkit-animation:picbackflip2 2s ease-out 0s 1 normal}
@-webkit-keyframes picfrontflip{
	100%{ -webkit-transform:rotateY(360deg)}
}
@-webkit-keyframes picbackflip{
	50%{ background-image:url(../images/lushichuanshuo/ka-card-default.png)}
	100%{ -webkit-transform:rotateY(360deg)}
}
@-webkit-keyframes picfrontflip2{
	100%{ -webkit-transform:rotateY(360deg)}
}
@-webkit-keyframes picbackflip2{
	50%{ background-image:url(../images/lushichuanshuo/ka-card-default.png)}
	100%{ -webkit-transform:rotateY(360deg)}
}
.ka_add .maincard .item p{ font-size:1.2rem; height:36px; line-height:1.2}
@media screen and (min-width:640px){
	.ka_add .maincard .item{ width:25%}
}
@media screen and (min-width:641px){
	.ka_add .maincard .item .w{ margin:10px 10px 5px}
	.ka_add .maincard .item .w .zoom{ background-position:right -160px; height:60px; background-size:440px}
	.ka_add .maincard .item p{ font-size:1.8rem; height:50px; line-height:1.2}
}
@media screen and (min-width:1024px){
	.ka_add .maincard .item{ width:20%}
	.ka_add .maincard .item .w{ margin:15px 15px 5px}
}
/*卡组模拟-编辑卡牌-相同卡牌不能超过2张*/
.dialogtip{ font-size:1.5rem; color:#fff; background:#000; border-radius:5px; padding:0 10px; display:none}
@media screen and (min-width:641px){
	.dialogtip{ font-size:2.6rem; padding:2px 20px}
}
/*卡组模拟-我的卡组*/
.ka_mygroup_content{ overflow:hidden}
.ka_mygroup .item{ float:left; width:50%; cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.ka_mygroup .item .ka_flag{ margin:20px auto}
.ka_mygroup .item .share{ position:absolute; bottom:11px; left:50%; margin-left:-21px; color:#fff; font-size:1.2rem; cursor:pointer; border:1px solid #fff; border-radius:30px; padding:2px 8px 1px; line-height:1}
.ka_mygroup .item .del{ position:absolute; width:14px; height:14px; bottom:12px; left:50%; margin-left:-7px; background:url(../images/lushichuanshuo/ka-btn.png) -115px -75px no-repeat; background-size:220px; cursor:pointer}
@media screen and (min-width:375px){
	.ka_mygroup .item{ width:33.33%}
}
@media screen and (min-width:641px){
	.ka_mygroup .item{ width:50%}
	.ka_mygroup .item .share{ bottom:22px; margin-left:-33px; font-size:1.8rem; padding:4px 14px}
	.ka_mygroup .item .del{ width:28px; height:28px; bottom:22px; margin-left:-14px; background-position:-230px -150px; background-size:440px}
}
@media screen and (min-width:769px){
	.ka_mygroup .item{ width:33.33%}
}
/*卡组模拟-我的卡组-卡列表*/
.ka_mycards .c{ overflow:hidden; color:#fff; margin-top:15px}
.ka_mycards .c .item{ float:left; width:50%; padding:0 7.5px; margin-bottom:3px; box-sizing:border-box}
.ka_mycards .c .inner{ background:#31302e; position:relative; height:18px; overflow:hidden}
.ka_mycards .c .item .num{ width:8px; height:14px; line-height:14px; text-align:center; background:#2a91ff; position:absolute; left:8px; top:2px; font-size:1.2rem; z-index:3; font-family:Arial} 
.ka_mycards .c .item .num_two em{ transform:scale(0.883); -webkit-transform:scale(0.883); display:block; z-index:4; position:relative; left:-3px}
.ka_mycards .c .item .num:before{ content:""; position:absolute; top:0; left:-4px; width:0; height:0; border-top:7px solid transparent; border-right:4px solid #2a91ff; border-bottom:7px solid transparent}
.ka_mycards .c .item .num:after{ content:""; position:absolute; top:0; right:-4px; width:0; height:0; border-top:7px solid transparent; border-left:4px solid #2a91ff; border-bottom:7px solid transparent}
.ka_mycards .c .item span{ color:#fde69f; position:relative; padding-left:22px; z-index:5; white-space:nowrap}
.ka_mycards .c .item .pic{ width:50px; height:18px; position:absolute; right:0; top:0; background-size:150px; background-position:-41px -50px; background-repeat:no-repeat}
.ka_mycards .c .item i{ width:10px; position:absolute; right:40px; top:0; bottom:0; background:linear-gradient(left, #31302e, transparent); background:-webkit-linear-gradient(left, #31302e, transparent); z-index:2}
.ka_mycards .foot{ margin:6px 0 30px; display:table; width:100%}
.ka_mycards .foot .foot_l{ display:table-cell; width:50%; vertical-align:bottom}
.ka_mycards .foot .count{ background:#31302e; margin:0 7.5px; text-align:center}
.ka_mycards .foot .count .title{ color:#fde69f; border:1px solid #fde69f; display:inline-block; border-radius:30px; padding:0 10px; margin:5px 0 20px}
.ka_mycards .foot .count .list{ width:100%}
.ka_mycards .foot .count .list li{ float:left; width:12.5%}
.ka_mycards .foot .count .bar{ height:70px; background:#191918; margin:0 3px; position:relative}
.ka_mycards .foot .count .bar i{ width:100%; height:0%; position:absolute; bottom:0; left:0}
.ka_mycards .foot .count .bar i span{ color:#fff; margin-top:-16px; position:absolute; width:100%; left:0; z-index:2; font-family:Arial; opacity:1; -webkit-animation:show_slow 4s linear 0s 1 normal}
.ka_mycards .foot .count .bar i code{ width:100%; height:100%; background:#ffd957; -webkit-animation:bar 2s linear 0s 1 normal; position:absolute; bottom:0; left:0}
@-webkit-keyframes bar{
	0%{ height:0%}
	50%{ height:0%}
	100%{ height:100%}
}
@-webkit-keyframes show_slow{
	0%{ opacity:0}
	50%{ opacity:0}
	100%{ opacity:1}
}
.ka_mycards .foot .count .num{ width:8px; height:14px; line-height:14px; background:#2a91ff; position:relative; font-size:1.2rem; margin:3px auto 7px; color:#fff; font-family:Arial} 
.ka_mycards .foot .count .num:before{ content:""; position:absolute; top:0; left:-4px; width:0; height:0; border-top:7px solid transparent; border-right:4px solid #2a91ff; border-bottom:7px solid transparent}
.ka_mycards .foot .count .num:after{ content:""; position:absolute; top:0; right:-4px; width:0; height:0; border-top:7px solid transparent; border-left:4px solid #2a91ff; border-bottom:7px solid transparent}
.ka_mycards .foot .count .num span{ position:relative; z-index:3}
.ka_mycards .foot .count .num i{ width:6px; height:12px; background:#31302e; position:absolute; left:1px; top:1px; z-index:2}
.ka_mycards .foot .count .num i:before{ content:""; position:absolute; top:0; left:-3px; width:0; height:0; border-top:6px solid transparent; border-right:3px solid #31302e; border-bottom:6px solid transparent}
.ka_mycards .foot .count .num i:after{ content:""; position:absolute; top:0; right:-3px; width:0; height:0; border-top:6px solid transparent; border-left:3px solid #31302e; border-bottom:6px solid transparent}
.ka_mycards .foot_r{ width:50%; display:table-cell; text-align:center}
.ka_mycards .foot_r .dust{ width:100%; display:table; margin-bottom:20px}
.ka_mycards .foot_r .dust .item{ display:table-cell; width:50%; color:#bdbcba; font-size:1.2rem}
.ka_mycards .foot_r .dust .item_2{ color:#ffc101}
.ka_mycards .foot_r .dust i{ background:url(../images/lushichuanshuo/ka-btn.png) -115px -93px no-repeat; background-size:220px; width:20px; height:27px; display:inline-block; vertical-align:middle}
.ka_mycards .foot_r .dust .item_2 i{ background-position:-135px -93px}
.ka_mycards .foot_r .logo{ display:inline-block; width:40px; height:40px; background:url(../images/lushichuanshuo/ka-btn.png) -140px -120px no-repeat; background-size:220px}
.ka_mycards .foot_r .more_t_r{ display:inline-block; color:#b6832c; vertical-align:2px; font-size:1.1rem}
.ka_mycards .foot_r .more_t_r div{ font-size:1.5rem; color:#f4b915}
.ka_mycards .foot_r .download{ width:140px; height:45px; line-height:45px; background:url(../images/lushichuanshuo/ka-btn.png) 0 -120px no-repeat; background-size:220px; display:block; margin:10px auto 0; font-size:1.5rem; color:#000; cursor:pointer}
@media screen and (min-width:640px){
	.ka_mycards .c .item{ margin-bottom:6px}
	.ka_mycards .c .inner{ height:36px}
	.ka_mycards .c .item .num{ width:16px; height:28px; line-height:28px; left:16px; top:4px; font-size:2.4rem}
	.ka_mycards .c .item .num_two em{ transform:scale(1); -webkit-transform:scale(1); position:static; font-size:1.4rem}
	.ka_mycards .c .item .num:before{ left:-8px; border-width:14px 8px 14px 0}
	.ka_mycards .c .item .num:after{ right:-8px; border-width:14px 0 14px 8px}
	.ka_mycards .c .item span{ font-size:2rem; padding-left:46px}
	.ka_mycards .c .item .pic{ width:108px; height:36px; background-size:300px; background-position:-82px -100px}
	.ka_mycards .c .item i{ width:20px; right:88px}
	.ka_mycards .foot{ margin:12px 0 60px}
	.ka_mycards .foot .count .title{ font-size:2rem; margin:10px 0 36px}
	.ka_mycards .foot .count .bar{ height:140px; margin:0 6px}
	.ka_mycards .foot .count .bar i span{ font-size:2rem; margin-top:-30px}
	.ka_mycards .foot .count .num{ width:16px; height:28px; line-height:28px; font-size:2.4rem; margin:6px auto 14px} 
	.ka_mycards .foot .count .num:before{ left:-8px; border-width:14px 8px 14px 0}
	.ka_mycards .foot .count .num:after{ right:-8px; border-width:14px 0 14px 8px}
	.ka_mycards .foot .count .num i{ width:12px; height:24px; left:2px; top:2px}
	.ka_mycards .foot .count .num i:before{ left:-6px; border-width:12px 6px 12px 0}
	.ka_mycards .foot .count .num i:after{ right:-6px; border-width:12px 0 12px 6px}
	.ka_mycards .foot_r .dust .item{ font-size:2.4rem}
	.ka_mycards .foot_r .dust i{ background-position:-230px -186px; background-size:440px; width:40px; height:54px}
	.ka_mycards .foot_r .dust .item_2 i{ background-position:-270px -186px}
	.ka_mycards .foot_r .logo{ width:80px; height:80px; background-position:-280px -240px; background-size:440px; margin-right:20px}
	.ka_mycards .foot_r .more_t_r{ vertical-align:4px; font-size:2.2rem}
	.ka_mycards .foot_r .more_t_r div{ font-size:3rem}
	.ka_mycards .foot_r .download{ width:280px; height:90px; line-height:90px; background-size:440px; background-position:0 -240px; font-size:3rem; margin:20px auto 0}
}








