@charset "utf-8";
/* *********

 *author:james

 *version:1.0

 *Date:2015-2-11

 *file:reset.css

 ********* */

/* CSS Document */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { padding: 0; margin: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
caption, th { text-align: left; font-weight: normal; }
html, body, fieldset, img, iframe, abbr { border: 0; }
i, cite, em, var, address, dfn { font-style: normal; }
[hidefocus], summary { outline: 0; }
li { list-style: none; }
h1, h2, h3, h4, h5, h6, small { font-size: 100%; }
sup, sub { font-size: 83%; }
pre, code, kbd, samp { font-family: inherit; }
q:before, q:after { content: none; }
textarea { overflow: auto; resize: none; }
label, summary { cursor: default; }
a, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: bold; }
del, ins, u, s, a, a:hover { text-decoration: none; }

/* global */
html, body { font: 12px "Microsoft YaHei";  padding:0;background: #f7f7f7; color: #454545;  position: relative; width: 100%; }
img { max-width: 100%; -ms-interpolation-mode: bicubic; border: none; font-size: 0; margin: 0; padding: 0; }
ul li { list-style-type: none; border: none; margin:0;padding:0 }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea { border: none; }
input, button, select, textarea, a { outline: none; background-color: transparent; }
a {blr: expression(this.onFocus=this.close()); blr: expression(this.onFocus=this.blur()); }
a:focus { -moz-outline-style: none; outline: none; }
a:active,a:link,a:visited{color: #000;}
.fl { float: left; }
.fr { float: right; }

.clearfix:after { height: 0; content: ""; display: block; clear: both; visibility: hidden; font-size: 0; }
.clearfix { zoom: 1; }
* html .clearfix { zoom: 1; }

/* *********

 *author:james

 *version:1.0

 *Date:2015-2-11

 *file:reset.css

 ********* */
 
/*头部*/
header{ background: url(../images/nav_bg.jpg) repeat-x left top; background-size: 100% 100%;}
header #bg{ width: 90%; margin: 0 auto; padding: 5px 0;position: relative;box-sizing: border-box;border-bottom: 1px solid #c8c9ca;}
header a.back { position: absolute; left: 8px; top: 0; display: block; width: 25px; height: 34px; background: url(../images/through/back.png) center center no-repeat; background-size: 45% auto; }
.ucenter{ position: absolute; right: 0; top: 0; background-size: 100% 100%; text-align: center; margin-top: 0.6rem;}
.logo {max-width: 32%; float: left;}
.part{ width: 50%;}
.part span {color: #fff; font-size: 1.5rem; padding: 2% 6%; text-align: center;}


/*导航*/
nav {}
#tabs{ background:white; text-align:center; width:100%; }
#tabs ul{ margin:0;}
#tabs ul li{ display: inline; font-size: 1.5em;  line-height: 35px; margin: 0 15px; padding: 1% 4% 0.5% 5%; }
.tab-nav{ cursor:pointer; color:#000;}
.tab-nav-action{ cursor:pointer; border-bottom: 3px solid #fbbc0e; color:#fbbc0e;}


/*banner*/

.swiper-container { width: 100%;height: 100%; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff;
        /* Center slide text vertically */
        display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.swiper-slide img{ width: 100%; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;}
.swiper-slide p{position: absolute;transform: translate3d(0px, 0px, 0px);transition: all 300ms ease 0s;z-index: 10; background: none repeat scroll 0 0 rgba(145, 136, 55, 0.5);
    color: #fff; text-align:left; width:100%; height:30px; bottom: -5px; left:0px;}

/*专区*/

.gamelist{ background-color:#fff; width:100%; color:#8f8f8f; font-size:1.5rem;}
.listbox li { border-bottom: 1px solid #e3e3e3; color: #8f8f8f; padding-bottom: 8px;}
.listbox li a { display: block; min-height: 70px; padding: 3% 2% 2% 2%;  font-size: 1.5rem; background: url(../images/gamelist-icon-enter.png) no-repeat 94% center; background-size: auto 25%; }
.listbox h2{ font-size:1.5rem; margin:0; color: #000;}
.gameicon{ float:left; width:168px; margin:0 3%; }
.gamelist-enter{ float:right; width:24px; margin:5% 3%;}
.listbox span{ font-size:1.5rem; color: #898989;}
.listbox p{ font-size:1.5rem; color: #aaaaaa;}
.gamelogo{ max-width: 19%; margin: 0 3%;}

@media screen and (min-width: 640px) {
   
 .gamelogo{ max-width: 20%;}
   
}
.zhuanqumore{width: 100%; height: auto; background: white; margin-top: 10px; float: left; padding: 5px 0; text-align: center; font-size: 1.5rem;}

/*下载专区*/

.download{ width: 100%; height: auo; background: white; float:left; margin-top: 15px; background: #fbbc0e;}
.dw-content{width: 90%; 
margin: 0 auto;
padding: 5px 5%;
box-sizing: border-box;}


/* 精彩视频  */

.newvideo{width: 100%; height: auto; background: white; margin-top: 15px; float: left; background: white;}
.videomore{width: 100%; height: auto; background: white; margin-top: 10px; float: left; padding: 5px 0; text-align: center; font-size: 1.5rem;}	
	
	
/*footer*/

footer {width: 100%; height: auto; margin-top: 15px; float: left;}
#bNav{ text-align:center; width: 92%; float: left; margin: 0 auto; padding: 0 1% 0 7%; }
#bNav ul{ padding:4px 0; overflow:hidden;}
#bNav ul li{float: left;
display: inline;
padding: 0;
color: #ccc;
width: 18%;
border-right: 1px solid #ccc;}
#bNav ul li a{ padding:0; color: #ccc; font-size: 1.5rem;}
#footertabs{ float: left; margin-top: 10px; padding: 0.5em 0; text-align: center; width: 100%; margin-bottom: 20px;}
#footertabs ul{ margin:0;}
#footertabs ul li{ font-size: 1.5rem; background:white; display: inline;  line-height: 35px; margin: 0 15px; padding: 1% 10%;   color: #ccc; border: 1px solid #ccc; }
.tab-nav{ cursor:pointer;}

