@charset "utf-8";
/* 梦幻西游 2015.5.12 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{ margin:0; padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

body{ background:#340637; color:#fff}
a{ text-decoration:none}
.header{ height:50px; border-bottom:1px solid #af36a4; overflow:hidden; position:relative; background:url(../images/data-mhxy-headerbg.jpg); background-size:cover}
.header_ios{ height:50px}
.header .wblogo,.header .wblogo_index{ position:absolute; left:5px; top:0; height:50px; line-height:50px; padding-left:90px; background:url(../images/wblogo.png) no-repeat; background-size:contain; color:#fff}
.header .wblogo_index{ background-position:-24px 0; padding-left:66px}
.header .wblogo_back{ background:url(../images/wblogo.png) no-repeat; background-size:90px; width:25px; height:50px; position:absolute; left:5px; top:0}
.lookmore{ font-size:1.6em; color:#8f8f8f; text-align:center; padding:15px 0; display:block}
/*列表页*/
.mhxylisthead{ text-align:center; margin-top:12px}
.mhxylisthead a{ display:inline-block; padding:2px 20px; background:rgba(255,255,255,0.7); color:#a964ac; margin-left:-4px; font-size:1.6em}
.mhxylisthead a:first-child{ border-radius:5px 0 0 5px}
.mhxylisthead a:last-child{ border-radius:0 5px 5px 0}
.mhxylisthead a.on{ color:#fff; background:rgba(196,97,200,1)}

.mhxylist{ overflow:hidden; margin:10px 0 0 -7.5px}
.mhxylist .item{ float:left; width:65px; height:105px; margin-left:15px; text-align:center; color:#fff}
.mhxylist .item .img{ border:1px solid #efbbc9; border-radius:83px; padding:5px}
.mhxylist .item .name{ line-height:1.2; font-size:1.4em; margin-top:3px}
/*伙伴详情页*/
.partnersum{ padding:20px 10px 10px 0; display:table; width:100%; box-sizing:border-box}
.partnersum .l{ display:table-cell; width:84px; box-sizing:border-box; vertical-align:top; text-align:center}
.partnersum .l img{ border:1px solid #debb90; width:50px; padding:6px; display:inline-block; margin-bottom:10px}
.partnersum .l .name{ border:1px solid #debb90; padding:2px 12px; display:inline-block; border-radius:15px; white-space:nowrap; margin:0 5px}
.partnersum .r{ display:table-cell; vertical-align:top}
.partnersum .r .t{ border-bottom:1px solid #856a87; overflow:hidden; padding-bottom:2px; font-size:1.4em; margin-bottom:8px}
.partnersum .r .type{ color:#ffe931; float:right}
.partnersum .r p{ font-size:1.2em}
.partnersum .star{ background:url(../images/data-mhxy-detail.png); background-size:100px; height:13px; display:inline-block; vertical-align:-1px; margin-left:5px}
.partnersum .star1{ width:14px}
.partnersum .star2{ width:27px}
.partnersum .star3{ width:40px}
.partnersum .star4{ width:54px}
.partnersum .star5{ width:68px}
/*伙伴、宠物属性*/
.mhxytitle{ background:url(../images/data-mhxy-detail.png) left bottom no-repeat; background-size:100px; padding-left:24px; font-size:1.5em; margin:10px 0 10px 10px}
.attri{ background:#240426; margin:0 10px 30px; position:relative}
.attri ul{ overflow:hidden; padding:7px 0}
.attri li{ float:left; width:50%; box-sizing:border-box; padding:2px 0 2px 20px; font-size:1.2em}
.attri li span{ color:#50d1fe; margin-left:10px}
.attri .xline{ position:absolute; width:1px; top:12px; bottom:12px; left:50%; background:#7c687d}
/*伙伴、宠物技能*/
.skill{ margin-bottom:30px}
.skill li{ display:table; margin-bottom:10px}
.skill li .img{ display:table-cell; width:30px; padding:0 10px; position:relative; vertical-align:top}
.skill li .img img{ position:relative}
.skill li .img .skill_mask_purple,.skill li .img .skill_mask_blue{ background:url(../images/data-mhxy-detail.png) 0 -21px no-repeat; background-size:156px; width:30px; height:30px; position:absolute; top:0; left:10px; z-index:2}
.skill li .img .skill_mask_blue{ background-position:-31px -21px}
.skill li .des{ display:table-cell; padding-right:10px; vertical-align:top}
.skill li .des span{ font-size:1.4em; color:#50d1fe}
.skill li .des label{ font-size:1em; line-height:1; color:#f36eff; border:1px solid #f36eff; margin-left:10px; padding:0 7px}
.skill li .des p{ font-size:1.2em}
/*伙伴价格*/
.prince{ padding:0 10px 30px}
.prince table{ border:1px solid #3f5787; width:100%; table-layout:fixed; text-align:center}
.prince .thead td{ background:#407fa9}
.prince table td{ padding:2px 0}
/*宠物简介*/
.pet{ position:relative; overflow:hidden; text-align:center; padding:25px 40px}
.petbg{ position:absolute; width:100%; left:0; top:0; transform:scale(1.8); filter:blur(18px); -webkit-filter:blur(18px)}
.petimg{ display:inline-block; position:relative; z-index:3}
.pet .icon_linear{ height:20px; position:absolute; left:0; right:0; bottom:0; background:linear-gradient(top, transparent, #340637); background:-webkit-linear-gradient(top, transparent, #340637); z-index:2}
.petsum{ margin:5px 10px 30px}
.petsum .t{ overflow:hidden; border-bottom:1px solid #856a87; padding-bottom:5px; margin-bottom:5px}
.petsum .l{ float:left}
.petsum .r{ float:right; color:#ffe931; border:1px solid #ffe931; padding:0 6px; font-size:1.2em; border-radius:10px}
.petsum .l span{ color:#50d1fe; margin-left:5px}
.petsum .l .leveal{ font-size:1.5em}
.petsum .l .homeplace{ font-size:1.2em}






