@charset "utf-8";
/* 奇迹暖暖 2015.6.16 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{margin:0;padding:0}
html{font:62.5%/1.5 "Microsoft YaHei",sans-serif}
img{border:none;max-width:100%;vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:normal}
input,select,textarea{font-size:100%;vertical-align:baseline}
ol,ul{list-style:none}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none}

body{ background:#f9ddd3 url(../images/data-qjnn-bg.jpg) no-repeat fixed; background-size:cover}
.switchboard{ height:47px; border-bottom:1px solid #fff; background:rgba(179,159,165,0.8); display:table; width:100%}
.switchboard .l,.switchboard .r{ width:50%; height:47px; display:table-cell; text-align:center; position:relative}
.switchboard .l i,.switchboard .r i{ background:url(../images/data-qjnn-tmp.png) -5px -12px no-repeat; width:100%; height:47px; background-size:320px; position:absolute; left:0; top:0}
.switchboard .r i{ background-position:-13px -23px; transform:rotateY(180deg); -webkit-transform:rotateY(180deg)}
.switchboard a{ font-size:1.3rem; color:#fff; margin-top:8px; width:130px; height:31px; line-height:31px; text-align:center; background:url(../images/data-qjnn-tmp.png) 0 -80px no-repeat; background-size:320px; display:inline-block; position:relative; z-index:2}
.switchboard .r a{ background-position:0 -113px}
.switchbute{ margin:7px 10px; background:rgba(255,255,255,0.5); border-radius:10px; padding:0 23px; border:1px solid #fff; position:relative}
.switchbute .flower_l,.switchbute .flower_r{ background:url(../images/data-qjnn-tmp.png) 0 -145px no-repeat; background-size:320px; position:absolute; left:0; top:0; width:56px; height:33px}
.switchbute .flower_r{ left:auto; right:0; transform:rotateY(180deg); -webkit-transform:rotateY(180deg)}
.switchbute .title{ font-size:1.5rem; color:#c04861; border-bottom:1px solid #d8b3ac; text-align:center; margin:0 7px; padding:3px 0 4px}
.switchbute .content{ padding:10px 0 1px; overflow:hidden; margin-left:-23px}
.switchbute .content .item{ float:left; margin-left:23px; border:1px solid #fff; background:#ffb67b; border-radius:30px; font-size:1.3rem; color:#fff; padding:2px 20px; margin-bottom:9px}
.filter_warp{ height:42px; border:solid #fff; border-width:1px 0; background:rgba(255,255,255,0.4)}
.filter{ box-shadow:inset 0 0 12px #fff; background:#ffecd1; height:40px; line-height:40px; margin-top:1px; overflow:hidden; position:relative}
.filter_inner{ position:absolute}
.filter .item{ font-size:1.5rem; color:#454545; cursor:pointer; padding:0 16px; float:left}
.filter .on.item{ color:#ffb309; font-size:1.8rem}
.clothes_wrap{ position:relative; background:rgba(253,223,217,0.8); margin:17px 19px}
.clothes_wrap .flower_top_left,.clothes_wrap .flower_top_right,.clothes_wrap .flower_bottom_left,.clothes_wrap .flower_bottom_right{ background:url(../images/data-qjnn-tmp.png) 0 -180px no-repeat; background-size:320px; position:absolute; width:17px; height:15px}
.clothes_wrap .flower_top_left{ top:-15px; left:-17px}
.clothes_wrap .flower_top_right{ top:-15px; right:-17px; transform:rotateY(180deg); -webkit-transform:rotateY(180deg)}
.clothes_wrap .flower_bottom_left{ bottom:-15px; left:-17px; transform:rotateX(180deg); -webkit-transform:rotateX(180deg)}
.clothes_wrap .flower_bottom_right{ bottom:-15px; right:-17px; transform:rotate(180deg); -webkit-transform:rotate(180deg)}
.clothes_wrap .line_top,.clothes_wrap .line_right,.clothes_wrap .line_bottom,.clothes_wrap .line_left{ background:rgba(253,223,217,0.8); position:absolute; border:0 solid rgba(255,255,255,0.7)}
.clothes_wrap .line_top{ height:14px; top:-15px; left:0; right:0; border-top-width:1px}
.clothes_wrap .line_right{ width:15px; top:0; bottom:0; right:-16px; border-right-width:1px}
.clothes_wrap .line_bottom{ height:14px; bottom:-15px; left:0; right:0; border-bottom-width:1px}
.clothes_wrap .line_left{ width:15px; top:0; bottom:0; left:-16px; border-left-width:1px}
/*衣服列表*/
.clothes{ overflow:hidden; margin-left:-16px}
.clothes .item{ float:left; border:1px solid #ffb67b; background:#ffebe7; border-radius:5px; display:table; table-layout:fixed; margin:0 0 10px 16px; width:111px; cursor:pointer}
@media screen and (min-width:320px){
	.clothes .item{ width:131px}
}
@media screen and (min-width:360px){
	.clothes .item{ width:151px}
}
@media screen and (min-width:375px){
	.clothes .item{ width:158px}
}
@media screen and (min-width:414px){
	.clothes .item{ width:178px}
}
.clothes .item .l{ display:table-cell; padding-top:3px}
.clothes .item .l .t{ padding:0 6px; position:relative}
.clothes .item .l .t div{ color:#454545; font-size:1.2rem; text-align:center; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px solid #ce7b39;}
.clothes .item .l .t_l,.clothes .item .l .t_r,.clothes .item .l .t_m{ background:url(../images/data-qjnn-tmp.png) 0 -197px no-repeat; background-size:320px; width:3px; height:4px; position:absolute; left:4px; bottom:0}
.clothes .item .l .t_r{ left:auto; right:4px; transform:rotateY(180deg); -webkit-transform:rotateY(180deg)}
.clothes .item .l .t_m{ left:50%; bottom:-1px; background-position:-5px -197px; width:4px}
.clothes .item .l .b{ font-size:1rem; display:table; width:100%; padding:3px 0}
.clothes .item .l .b div{ width:50%; display:table-cell; text-align:center}
.clothes .item .l .b span{ color:#456395; width:45px; height:19px; line-height:19px; text-align:center; background:url(../images/data-qjnn-tmp.png) 0 -202px no-repeat; background-size:320px; display:inline-block}
.clothes .item .r{ width:30px; display:table-cell; background:#ffb67b; border-radius:4px; color:#fff; font-size:2rem; vertical-align:middle; text-align:center}
/*五属性弹窗*/
.dialog_attr{ background:#fff; border-radius:10px; width:260px; padding:18px 0; position:relative}
@media screen and (min-width:320px){
	.dialog_attr{width:300px}
}
.dialog_five{ overflow:hidden}
.dialog_five .item{ float:left; width:32%; border-right:1px solid #ffb67b; text-align:center; margin-bottom:28px}
.dialog_five .item:nth-child(3){ border:none}
.dialog_five .item .btn_radio{ border:1px solid #ffb67b; display:block; margin:0 20px; padding:2px 0 1px; border-radius:20px; color:#ffb67b; font-size:1.3rem; cursor:pointer}
.dialog_five .item .btn_radio.on,.dialog_arena .btn_arena.on{ background:#ffb67b; color:#fff}
.dialog_five .item .btn_radio:first-child{ margin-bottom:9px}
.dialog_attr .line_l,.dialog_attr .line_r{ background:url(../images/data-qjnn-tmp.png) -25px -173px no-repeat; background-size:320px; position:absolute; width:6px; height:4px; left:20px; bottom:60px}
.dialog_attr .line_r{ left:auto; right:20px; transform:rotateY(180deg); -webkit-transform:rotateY(180deg)}
.dialog_attr .line_m{ height:1px; left:25px; right:25px; bottom:62px; position:absolute; background:#d8b3ac}
.dialog_attr .handle{ overflow:hidden}
.dialog_attr .handle a{ background:url(../images/data-qjnn-tmp.png) 0 -225px no-repeat; background-size:320px; width:107px; height:30px; line-height:30px; display:block; text-align:center; color:#fff; font-size:1.3rem; cursor:pointer}
.dialog_attr .handle a.btn_cancel{ float:left; color:#454545; background-position:0 -255px; margin-left:20px}
.dialog_attr .handle a.btn_sure{ float:right; margin-right:20px}
.dialog_arena{ height:160px; overflow-y:auto; margin-bottom:28px}
.dialog_arena .item{ float:left; width:50%; text-align:center}
.dialog_arena .btn_arena{ border:1px solid #ffb67b; margin:0 20px 9px; padding:2px 0 1px; border-radius:20px; color:#ffb67b; font-size:1.3rem; cursor:pointer; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
/*详情弹窗*/
.dialog_det{ background:#fff; border-radius:10px; width:260px; padding:18px 0; position:relative}
@media screen and (min-width:320px){
	.dialog_det{width:300px}
}






