@charset "utf-8";
/* 2015/3/24 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td,iframe{ margin:0; padding:0}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.wbclick{ cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}


a{ text-decoration:none; outline:none}
.header{ height:50px; background:#fbbc0e; overflow:hidden}
.header .wblogo,.header .wblogo_index{ font-size:20px; margin-left:5px; height:50px; line-height:50px; padding-left:90px; background-image:url(../images/wblogo_1x.png); background-repeat:no-repeat; color:#fff; display:inline-block}
.header .wblogo_index{ background-position:-14px 0; padding-left:76px}
@media only screen{
	.header .wblogo,.header .wblogo_index{ background-image:url(../images/wblogo_3x.png); background-size:90px}
}
/*首页*/
.index_nav{ font-size:1.5em; position:relative; overflow:hidden; height:34px}
.index_nav .line_y{ height:20px; width:1px; position:absolute; left:50%; top:8px; background:#d3d3d3}
.index_nav .item{ width:50%; float:left; text-align:center}
.index_nav .item a{ color:#1a1a1a; padding:0 24px; height:32px; line-height:32px; display:inline-block}
.index_nav .on a{ color:#fbbc0e; border-bottom:2px solid #fbbc0e}
.gamearea .title{ font-size:1.8em; padding:5px 0 5px 10px; background:#f5f5f5}
.gamearea .title .icon{ width:2px; height:9px; background:#fbbc0e; display:inline-block; vertical-align:4px; margin-right:3px; overflow:hidden}
.gamearea li a{ position:relative; display:block; padding:10px 0 10px; _padding-bottom:28px; min-height:66px; border-bottom:1px solid #ccc}
.gamearea .img{ position:absolute; left:10px; top:10px; width:66px; height:66px; text-align:center}
.gamearea .desc{ margin-left:86px}
.gamearea .desc h2{ font-size:1.8em; color:#1a1a1a}
.gamearea .desc p,.gamearea .desc .info{ font-size:1.4em; color:#8f8f8f}
.gamearea .desc .info span{ margin-right:6px}
.gamearea .icon_look{ position:absolute; right:15px; top:50%; margin-top:-5px; width:14px}
.gamearea .icon_look i{ width:13px; height:13px; display:inline-block; border-width:0 1px 1px 0; border-color:#8f8f8f; border-style:solid; -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.lookmore{ font-size:1.6em; color:#8f8f8f; text-align:center; padding:15px 0; display:block}
.index_ad img{ width:100%}
.index_videoarea{ margin-top:10px}
.index_videoarea .title{ font-size:1.8em; padding:5px 0 5px 10px; background:#f5f5f5}
.index_videoarea .title .icon{ width:2px; height:9px; background:#fbbc0e; display:inline-block; vertical-align:4px; margin-right:3px; overflow:hidden}
.index_videoarea .item{ float:left; width:50%}
.index_videoarea .item a{ padding:5px; display:block}
.index_videoarea .item h3{ color:#454545; font-size:1.6em}
.index_videoarea .item img{ width:100%}
.footer{ text-align:center; margin:50px 0 20px; color:#999; font-size:14px}
.footer .menu{ margin-bottom:5px}
.footer .menu a{color:#999; padding:0 10px; display:inline-block}
/*海报移动*/
.posterPicMobile{ position:relative; overflow:hidden}
.posterPicMobile .pic{ position:relative; overflow:hidden}
.posterPicMobile .pic ul{ position:absolute; width:100%; height:100%}
.posterPicMobile .pic li{ position:absolute; width:100%; height:100%; background:url(../images/posterPicMobile_loader.gif) no-repeat center center}
.posterPicMobile .pic li a{ display:block; width:100%; height:100%}
.posterPicMobile .pic li a img{ width:100%}
.posterPicMobile .pager{ position:absolute; bottom:20px; right:10px}
.posterPicMobile .pager li{ width:10px; height:10px; border-radius:10px; background:#c3c3c3; display:inline-block; margin-right:10px}
.posterPicMobile .pager li.current{ background:#fbbc0e}
/*游戏专区*/
.game .gamearea .title{ border-top:1px solid #d3d3d3}
/*游戏专区首页*/
.gameindex li{ width:25%; text-align:center; display:inline-block; _float:left}
.gameindex li a{ display:block}
.gameindex li div{ margin:18px 18px 10px}
.gameindex li h2{ font-size:1.4em; color:#454545; white-space:nowrap; overflow:hidden; width:100%}
/*横向滑动通用导航*/
.nav_slide_wrap{ height:0; position:relative; overflow:hidden}
.nav_slide_wrap .line_x{ position:absolute; left:0; right:0; bottom:0; background:#d3d3d3; height:1px}
.nav_slide_wrap .nav_slide{ overflow-x:auto; width:100%; height:70px; position:relative; -webkit-overflow-scrolling:touch}
.nav_slide_wrap .nav_slide_inner{ position:absolute; width:1000px; height:42px}
.nav_slide_wrap a{ height:40px; line-height:40px; float:left; font-size:1.6em; color:#454545; padding:0 20px; white-space:nowrap; cursor:pointer; -webkit-tap-highlight-color:rgba(0,0,0,0)}
.nav_slide_wrap a.on{ color:#fbbc0e; border-bottom:2px solid #fbbc0e}

.nav_fixed ul{ display:table; width:100%; table-layout:fixed}
.nav_fixed li{ display:table-cell; font-size:1.6em; padding:8px 0; text-align:center; border-bottom:1px solid #d3d3d3}
.nav_fixed li.on{ color:#fbbc0e; border-bottom:2px solid #fbbc0e; padding-bottom:7px}
/*新闻列表页*/
.news li.item a{ border-bottom:1px solid #d3d3d3; padding:10px; display:block}
.news li.item table{ width:100%}
.news li.item .img{ width:35%; vertical-align:top; padding-right:10px}
.news li.item .img img{ max-width:120px}
.news li.item .note{ color:#1a1a1a; vertical-align:top}
.news li.item .note h2{ font-size:1.6em; line-height:1.2}
.news li.item .note p{ font-size:1.4em; margin-bottom:10px; color:#8f8f8f}
.news li.item .info{ color:#8f8f8f; font-size:1.4em; vertical-align:bottom; line-height:1; padding-top:20px}
.news li.item .info span{ margin-right:5px; white-space:nowrap}
.news_icon_look,.news_icon_comment{ background:url(../images/icon_news_1x.png) no-repeat; background-size:cover; width:15px; height:15px; display:inline-block; overflow:hidden; vertical-align:-3px; *vertical-align:2px}
.news_icon_comment{ background-position:0 -15px}
@media only screen{
	.news_icon_look,.news_icon_comment{ background-image:url(../images/icon_news_3x.png); background-size:15px}
	.news_icon_comment{ background-position:0 -15px}
}
/*文章详情*/
.article .top{ padding:10px; border-bottom:1px solid #d3d3d3}
.article .top h1{ font-size:1.8em; font-weight:normal; line-height:1.2; margin:10px 0}
.article .top .info{ font-size:1.3em; color:#8f8f8f}
.article .top .info span{ margin-right:10px}
.article .pagebody{ padding:10px; font-size:1.6em; word-break:break-all}
/*视频*/
.videolist{ display:table; width:100%; box-sizing:border-box; padding:5px; overflow:hidden}
.videolist .item{ display:table-cell; width:50%; padding:5px; box-sizing:border-box; float:left}
.videolist .v-thumb{ position:relative; width:100%}
.videolist .v-thumb img{ width:100%}
.videolist .v-thumb a{ width:100%; height:100%; top:0; left:0; position:absolute; z-index:5}
.videolist .v-thumb .v-overlay{ width:100%; background:rgba(0,0,0,0.6); position:absolute; bottom:0px; height:24px; z-index:2}
.videolist .v-thumb .v-time{  position:absolute; bottom:0; left:5px; z-index:3; color:#fff; font-size:1.4em}
.videolist .v-thumb .v-num{  position:absolute; bottom:0; right:5px; z-index:3; color:#ffb309; font-size:1.4em}
.videolist .v-thumb .v-num .iconw{ width:14px; height:14px; background:#ffb309; border-radius:14px; display:inline-block; position:relative; vertical-align:-1px; margin-right:3px}
.videolist .v-thumb .v-num .icon{ width:0; height:0; border-top:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid rgba(0,0,0,0.6); position:absolute; left:6px; top:3px}
.videolist .v-metadata{ background:#f6f6f6; width:100%; position:relative; height:30px}
.videolist .v-metadata a{ width:100%; position:absolute; padding-top:4px}
.videolist .v-metadata a h3{ width:100%; font-size:1.6em; color:#111; padding:0 24px 0 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; box-sizing:border-box}
.videolist .v-metadata img{ width:20px; height:20px; border-radius:20px; position:absolute; right:5px; top:5px}
.videodetail .wb_play_iframe{ width:100%; border:0; vertical-align:top}
.videodetail .info{ padding:10px}
.videodetail .info h3{ font-size:1.6em; color:#111}
.videodetail .info { font-size:1.4em; color:#555}






