@charset "utf-8";
/* wefire 2015/04/09 */

body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,img,dl,dd,dt,input,textarea,button,th,td{ margin:0; padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block}
html{ font:62.5%/1.5 "Microsoft YaHei", sans-serif; -webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:none; max-width:100%; vertical-align:top}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; vertical-align:top; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

body{ background:#0b0d1b; color:#fff}
a{ color:#fff; text-decoration:none}
.header{ height:50px; background:#fbbc0e; overflow:hidden}
.header .wblogo{ float:left; margin:10px 0 0 10px}
.header .wblogo a{ display:block; width:48px; height:26px; padding-left:52px; background:url(../images/wblogo.png) no-repeat; background-size:contain; color:#fff}
.header .crumbs{ margin:10px 0 0 110px; color:#fff; font-size:2em}
.wflist .head{ height:40px}
.wflist .head h2{ text-align:center; font-size:1.8em; padding-top:7px; text-shadow:0 0 1px #4dd2fd}
.wflist .select{ font-size:1.6em; position:relative; z-index:2;}
.wflist .select .text{ position:absolute; top:6px; right:10px; background:linear-gradient(#005976, #021d68); border-radius:15px; padding:1px 24px 1px 12px; border:1px solid #a6fafe; color:#fff; box-shadow:0 0 4px #82e4ff}
.wflist .select .text .icon{position:absolute; width:0; height:0; top:11px; right:7px; border-width:6px; border-style:solid dashed dashed dashed; border-color:#fff transparent transparent transparent}
.wflist .select ul{ display:none; position:absolute; right:10px; top:39px; background:rgba(7,92,135,0.8); border:1px solid #00deff; border-radius:5px; box-shadow:inset 0 0 5px #00deff}
.wflist .select ul li{ padding:0 10px; border:1px solid #a8fafe; border-radius:15px; margin:14px 8px;}
.wf_nav{ overflow:hidden; width:100%; height:40px; position:relative; border-top:1px solid #4dd2fd; border-bottom:1px solid #4dd2fd; box-sizing:border-box}
.wf_nav ul{ position:absolute; width:2000px; height:39px}
.wf_nav li{ float:left; font-size:1.6em; color:#b0b8c8; padding:8px 20px 7px 20px; white-space:nowrap; position:relative}
.wf_nav li.on{ color:#fff; box-shadow:inset 0 -5px 2px -3px #4dd2fd}
.wf_nav li i{ width:1px; height:18px; position:absolute; background:#4dd2fd; right:0; top:11px}
.wf_nav li:last-child i{ background:none}
.wflist .pagebody li{ width:50%; float:left; padding:10px 10px 0 0; box-sizing:border-box}
.wflist .pagebody li .item{ border:1px solid #00deff; box-shadow:inset 0 0 5px #00deff; background:url(../images/data-wf-listbg.png); position:relative}
.wflist .pagebody li .item p{ color:#00deff; font-size:1.6em; position:absolute; left:5px; bottom:0}
/*详情*/
.wfdetail{ width:100%; background:url(../images/data-wf-detail.png) 0 0 no-repeat; background-size:contain}
.ceshi{ width:100%; height:30px; background:url(../images/data-wf-detail.png) 0 0 no-repeat; background-size:contain}
