@charset "utf-8";
/* *********
 *author:daisy
 *version:1.0
 *Date:2015-3-5
 ********* */

 /* *******专区首页******** */
.gamesite-box{
	width:100%;
	background-color:#fff;
}
.gamesite-banner{
	width:100%;
}
.gamesite-cat{
	width: 100%;
	margin: 5% 0;
	float: left;
}
.gamesite-cat ul{

}
.gamesite-cat ul li{
	width: 18%;
	float: left;
	margin: 3% 3% 3% 3.8%;
	box-sizing: border-box;
}

.gamesite-cat h4{
	font-size:1.3rem;
	text-align:center;
}


 /* *******文章列表******** */

.articlelist{
	width:100%;
	background-color:#fff;
}
.articlelist ul li{
	padding:20px 0;
	border-bottom:1px solid #d6d6d6;
}
.articlethumb{
	float:left;
	width:30%;
	margin-left:3%;
}
.articleinfo{
	float:left;
	width:61%;
	margin-left:3%;
}
.articleinfo h4{
	font-size:1.5rem;
	color:#1a1a1a;
}
.articleinfo p{
	font-size:1rem;
	color:#8f8f8f;
	margin-top: 5%;
}